<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Add Reward Points</title>
  </head>

  <body>
    <div class="main">
      <app-navmenu></app-navmenu>
      <div class="nav-overlay"></div>
      <!--.nav-overlay-->
      <!-- navigation menu container end -->

      <div class="right-main-column">
        <div class="right-col-container full-width">
          <app-header></app-header>

          <!-- ======== body page content start from here ======== -->
          <div class="body-page-container">
            <!-- <div class="vspacer10"></div> -->
            <!--.vspacer10-->
            <div class="device-page-titles d-none d-md-none d-lg-block">
              <!-- <div class="component-title">
                <h4>{{ commonServiceCall.pageName }}</h4>
              </div> -->
              <div class="in-header d-none">
                <div class="header-icons-rit">
                  <div class="header-actions">
                    <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->
                  </div>
                  <!--.header-actions-->
                </div>
                <!--.header-icons-rit-->
              </div>
              <!-- in-header -->
            </div>
            <!-- device-page-titles -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 p-0">
                  <div class="breadcrumb">
                    <ul class="lst-breadcrumb">
                      <li>
                        <h6>{{ commonServiceCall.pageName }}</h6>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--.row -->

              <div class="main-content">
                <!-- load form -->
                <form [formGroup]="deliveryChannelAddForm">
                  <div class="row">
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Name</label>
                        <input
                          type="text"
                          formControlName="name"
                          placeholder="Enter Name"
                        />
                        <p *ngIf="formErrors.name">
                          {{ formErrors.name }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>NFS Channel Code</label>
                        <input
                          type="text"
                          formControlName="channelCode"
                          placeholder="Enter NFS Channel Code"
                        />
                        <p *ngIf="formErrors.channelCode">
                          {{ formErrors.channelCode }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Daily Limit Amount</label>
                        <input
                          type="text"
                          numbersOnly
                          formControlName="dailyLimitAmt"
                          placeholder="Enter Daily Limit Amount"
                        />
                        <p *ngIf="formErrors.dailyLimitAmt">
                          {{ formErrors.dailyLimitAmt }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Monthly Limit Amount</label>
                        <input
                          type="text"
                          numbersOnly
                          formControlName="monthlyLimitAmt"
                          placeholder="Enter Monthly Limit Amount"
                        />
                        <p *ngIf="formErrors.monthlyLimitAmt">
                          {{ formErrors.monthlyLimitAmt }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>

                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Merchant Category Code</label>
                        <input
                          type="text"
                          numbersOnly
                          formControlName="mcc"
                          placeholder="Enter Merchant Category Code"
                        />
                        <p *ngIf="formErrors.mcc">
                          {{ formErrors.mcc }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>

                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>POS Entry Mode</label>
                        <input
                          type="text"
                          numbersOnly
                          formControlName="posEntryMode"
                          placeholder="Enter POS Entry Mode"
                        />
                        <p *ngIf="formErrors.posEntryMode">
                          {{ formErrors.posEntryMode }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>

                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>POS Condition Code</label>
                        <input
                          type="text"
                          numbersOnly
                          formControlName="posConditionCode"
                          placeholder="Enter POS Condition Code"
                        />
                        <p *ngIf="formErrors.posConditionCode">
                          {{ formErrors.posConditionCode }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>

                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label>OTP Validity</label>
                        <input
                          type="text"
                          numbersOnly
                          formControlName="otpValidity"
                          placeholder="Enter OTP Validity"
                        />
                        <p *ngIf="formErrors.otpValidity">
                          {{ formErrors.otpValidity }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>

                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label>OTP Limit</label>
                        <input
                          type="text"
                          numbersOnly
                          formControlName="otpLimit"
                          placeholder="Enter OTP Limit"
                        />
                        <p *ngIf="formErrors.otpLimit">
                          {{ formErrors.otpLimit }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>

                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label>MPIN Needed</label>
                        <label class="switch">
                          <input
                            type="checkbox"
                            [checked]="isMPINNeeded"
                            (change)="onMPINStateChange($event)"
                          />
                          <span class="slider round"></span>
                        </label>
                      </div>
                      <!--.ux-input-->
                    </div>

                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label>Customer Authenticated</label>
                        <label class="switch">
                          <input
                            type="checkbox"
                            [checked]="isCustomerAuthenticated"
                            (change)="onCustAuthStateChange($event)"
                          />
                          <span class="slider round"></span>
                        </label>
                      </div>
                      <!--.ux-input-->
                    </div>

                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label>Account Number Partial</label>
                        <label class="switch">
                          <input
                            type="checkbox"
                            [checked]="isAccNumPartial"
                            (change)="onAccNumPartialStateChange($event)"
                          />
                          <span class="slider round"></span>
                        </label>
                      </div>
                      <!--.ux-input-->
                    </div>

                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label>Remitter Mobile Needed</label>
                        <label class="switch">
                          <input
                            type="checkbox"
                            [checked]="isRemMobileNeeded"
                            (change)="onRemMobileNeededStateChange($event)"
                          />
                          <span class="slider round"></span>
                        </label>
                      </div>
                      <!--.ux-input-->
                    </div>

                  </div>
                </form>
                <!--.row-->
                <div class="row mt-5">
                  <div class="col-6 col-lg-2 offset-lg-8">
                    <button class="ux-button" (click)="cancel()">Cancel</button>
                  </div>
                  <div class="col-6 col-lg-2">
                    <button class="ux-button primary" (click)="addDeliveryChannel()">
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--.container-->
          </div>
          <!--.body-page-container-->
          <!-- added new -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column-->
      <!-- added new -->
    </div>
    <!--.main-->
    <!-- ===========footer section start========= -->
    <div class="sticky-actions-spacer"></div>
    <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
      <div class="tinymodal-overlay"></div>
      <!--.tinymodal-overlay-->

      <!--.tinymodal-->
    </div>
    <!-- ==============footer section end============ -->

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
