<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Edit Adapter Src Channel</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <!--.global-nav-->
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <!-- ======== header section start ========== -->
        <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->
            <div class="main-content">
              <!-- load form -->
              <form [formGroup]="activitySettingEditForm">
                <div class="row">
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Activity Name</label>
                      <input readonly type="text" id="txtchannelName" formControlName="activityName"
                        placeholder="Enter Channel Name" limit-to="40" />
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>TPIN</label>
                      <select id="sl_tpin" formControlName="tpin">
                        <option value="">Select Status</option>
                        <option value="Y">Active</option>
                        <option value="N">Inactive</option>
                      </select>
                      <p *ngIf="formErrors.tpin">{{ formErrors.tpin }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>OTP</label>
                      <select id="sl_otp" formControlName="otp">
                        <option value="">Select Status</option>
                        <option value="Y">Active</option>
                        <option value="N">Inactive</option>
                      </select>
                      <p *ngIf="formErrors.otp">{{ formErrors.otp }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Maker</label>
                      <select id="sl_maker" formControlName="maker">
                        <option value="">Select Status</option>
                        <option value="Y">Active</option>
                        <option value="N">Inactive</option>
                      </select>
                      <p *ngIf="formErrors.maker">{{ formErrors.maker }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Checker</label>
                      <select id="sl_checker" formControlName="checker">
                        <option value="">Select Status</option>
                        <option value="Y">Active</option>
                        <option value="N">Inactive</option>
                      </select>
                      <p *ngIf="formErrors.checker">
                        {{ formErrors.checker }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>

                  <!--.col-12-->

                  <!--.col-12-->
                </div>
              </form>
              <!--.row-->
              <div class="row">
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="gotoActivitySetting()">
                    Cancel
                  </button>
                </div>
                <div class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="update()">
                    Update
                  </button>
                </div>
                <!--.col-xs-12-->
              </div>
              <!--.row-->
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>