<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Change Password</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <!-- ======== header section start ========== -->
        <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->

            <div class="main-content">
              <div class="row" *ngIf="priviledgeDataArr.viewChecked">
                <div class="col-6">
                  <div class="ux-input input-error">
                    <label>Company Name</label>
                    <select (change)="selectedValue($event.target.value)">
                      <option value="">Select Company Name</option>
                      <option *ngFor="let option of type; index as i" [value]="option.id">
                        {{ option.companyName | titlecase }}
                      </option>
                      <!-- <option value='0' >Retail</option>
                                          <option value='1' >Corporate</option> -->
                    </select>
                    <p *ngIf="typeError">* Please Select Company Name</p>
                  </div>
                </div>
                <!--.col-12-->
                <div class="col-6">
                  <div class="ux-input input-error">
                    <label>Roles</label>
                    <select (change)="selectedValueRoles($event.target.value)">
                      <option value="">Select Roles</option>
                      <option *ngFor="let option of corporateUserType; index as i" [value]="option.id">
                        {{ option.description | titlecase }}
                      </option>
                    </select>

                  </div>
                </div>
                <!--.col-12-->
              </div>
              <!--.row-->

              <!-- <div class="sticky-actions-spacer"></div> -->
              <div class="row mt-3" *ngIf="corporateMenuRight.length > 0">
                <div class="col-12 mb-0">
                  <div class="datatable-box">
                    <div class="table-responsive">
                      <table id="dt-sample" class="table display table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Menu Description</th>
                            <th scope="col">View</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                                let menu of corporateMenuRight;
                                let i = index
                              ">
                            <td>
                              {{
                                  menu.menuName == null || menu.menuName == ""
                                    ? "-"
                                    : menu.menuName
                                }}
                            </td>
                            <td>
                              <div class="ux-selection">
                                <label>
                                  <input type="checkbox" name="radioboxdemo" [checked]="menu.isChecked"
                                    [value]="menu.value" (change)="onCheckBoxChange(menu)" />
                                </label>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--.table-responsivebox-->
                  </div>
                  <!--.datatable-box-->
                </div>
              </div>
              <div class="row mt-5" *ngIf="
                    corporateMenuRight.length > 0 &&
                    priviledgeDataArr.updateChecked
                  ">
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="saveMenuDetails()">
                    Save
                  </button>
                </div>
                <!--.col-xs-12-->
              </div>

              <div class="row mt-5" *ngIf="
                    corporateMenuRight.length > 0 &&
                    !priviledgeDataArr.updateChecked
                  ">
                <div class="col-6 col-lg-2 offset-lg-10">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <!--.col-xs-12-->
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>
