<!DOCTYPE html>
<div lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Announcement</title>
  </head>

  <body>
    <div class="main">
      <!-- navigation menu container start -->
      <app-navmenu></app-navmenu>
      <div class="nav-overlay"></div>
      <!--.nav-overlay-->
      <!-- navigation menu container end -->
      <div class="right-main-column">
        <div class="right-col-container full-width">
          <app-header></app-header>
          <!-- ======== body page content start from here ======== -->
          <div class="body-page-container">
            <!-- <div class="vspacer10"></div> -->
            <!--.vspacer10-->
            <div class="device-page-titles d-none d-md-none d-lg-block">
              <!-- <div class="component-title">
                <h4>{{commonServiceCall.pageName}}</h4>
              </div> -->
              <div class="in-header d-none">
                <div class="header-icons-rit">
                  <div class="header-actions">
                    <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->
                  </div>
                  <!--.header-actions-->
                </div>
                <!--.header-icons-rit-->
              </div>
              <!-- in-header -->
            </div>
            <!-- device-page-titles -->
            <!-- ========== body section start ========= -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 p-0">
                  <div class="breadcrumb">
                    <ul class="lst-breadcrumb">
                      <li>
                        <h6>{{ commonServiceCall.pageName }}</h6>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--.row -->
              <div class="main-content">
                <div *ngIf="priveledge" class="row">
                  <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="ux-input">
                      <select (change)="stateChange($event)">
                        <option value="">Select Status</option>
                        <option value="22">All Announcements</option>
                        <option
                          *ngFor="let item of userAppId; let i = index"
                          value="{{ item.id }}"
                        >
                          {{ item.shortName | titlecase }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6 offset-lg-4 offset-6 col-lg-2">
                    <button
                      class="ux-button primary"
                      (click)="navigatePage()"
                      *ngIf="priviledgeDataArr.createChecked"
                    >
                      + Add
                    </button>
                  </div>
                </div>

                <div class="vspacer20"></div>

                <div class="row mt-3" *ngIf="showTable">
                  <div class="col-12 mb-0">
                    <div class="datatable-box">
                      <div class="table-responsive">
                        <table id="dt-sample" class="table display table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Sr.No.</th>
                              <th scope="col">Name</th>
                              <th scope="col">Small Image</th>
                              <th scope="col">Big Image</th>
                              <!-- <th scope="col"> Announcement Caption
                            </th> -->
                              <th scope="col">Channel Name</th>
                              <th scope="col">Latitude</th>
                              <th scope="col">Longitude</th>
                              <th scope="col">Valid Form</th>
                              <th scope="col">Valid To</th>
                              <th scope="col">Created On</th>
                              <th scope="col">Created By</th>
                              <th scope="col">Sequence Number</th>
                              <th scope="col">Web Link</th>
                              <th scope="col">Announcement Type</th>
                              <th scope="col">Status</th>
                              <th
                                scope="col"
                                *ngIf="priviledgeDataArr.updateChecked"
                              >
                                Action
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let item of filterRetailAnnounements();
                                let i = index
                              "
                            >
                              <td>{{ i + 1 }}</td>
                              <td>
                                {{
                                  item.announcementHeader == null ||
                                  item.announcementHeader == ""
                                    ? "-"
                                    : (item.announcementHeader | titlecase)
                                }}
                              </td>
                              <td>
                                <p style="display: none">
                                  {{ item.baseImageSmall }}
                                </p>
                                <img
                                  class="w-100"
                                  [src]="
                                    'data:image/jpg;base64,' +
                                    item.baseImageSmall
                                  "
                                />
                              </td>
                              <td>
                                <p style="display: none">
                                  {{ item.baseImageLarge }}
                                </p>
                                <img
                                  class="w-100"
                                  [src]="
                                    'data:image/jpg;base64,' +
                                    item.baseImageLarge
                                  "
                                />
                              </td>
                              <!-- <td> {{item.imgcaption  == null || item.imgcaption == '' ? '-' : item.imgcaption }} </td>-->
                              <!-- <td>{{item.announcementDescription == null || item.announcementDescription == '' ? '-' : item.announcementDescription | titlecase }}</td>  -->
                              <td>
                                {{
                                  item.productName == null ||
                                  item.productName == ""
                                    ? "-"
                                    : (item.productName | titlecase)
                                }}
                              </td>
                              <td>
                                {{
                                  item.latitude == null || item.latitude == ""
                                    ? "-"
                                    : item.latitude
                                }}
                              </td>
                              <td>
                                {{
                                  item.longitude == null || item.longitude == ""
                                    ? "-"
                                    : item.longitude
                                }}
                              </td>
                              <td>{{ item.validFrom | date: "yyyy/MM/dd" }}</td>
                              <td>{{ item.validTo | date: "yyyy/MM/dd" }}</td>
                              <td>{{ item.createdon | date: "yyyy/MM/dd" }}</td>
                              <td>
                                {{
                                  item.createdByName == null ||
                                  item.createdByName == ""
                                    ? "-"
                                    : item.createdByName
                                }}
                              </td>
                              <td>
                                {{
                                  item.seqNumber == null || item.seqNumber == ""
                                    ? "-"
                                    : item.seqNumber
                                }}
                              </td>
                              <td>
                                {{
                                  item.weblink == null || item.weblink == ""
                                    ? "-"
                                    : item.weblink
                                }}
                              </td>
                              <td>
                                {{
                                  item.type == null || item.type == ""
                                    ? "-"
                                    : (item.type | titlecase)
                                }}
                              </td>
                              <td>
                                {{
                                  item.statusName == null ||
                                  item.statusName == ""
                                    ? "-"
                                    : (item.statusName | titlecase)
                                }}
                              </td>
                              <td *ngIf="priviledgeDataArr.updateChecked">
                                <div class="ux-selection">
                                  <img
                                    class="action-btn"
                                    src="assets/images/icons/edit.png"
                                    (click)="getAnnouncementDtls(item)"
                                  />
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!--.table-responsivebox-->
                    </div>
                    <!--.datatable-box-->
                    <div
                      class="dt-extras mt-4"
                      *ngIf="announcementList.length > 0"
                    >
                      <div class="dt-exports">
                        <em>Export to :<span class="chevron"></span></em>
                        <button
                          class="linkbutton exp-excel"
                          (click)="commonMethod.downLoadFile('excel')"
                        >
                          Excel <b>(.xlsx)</b>
                        </button>
                        <button
                          class="linkbutton exp-pdf"
                          (click)="commonMethod.downLoadFile('pdf')"
                        >
                          Pdf <b>(.pdf)</b>
                        </button>
                        <!-- <button class="linkbutton exp-word" (click)="wordDownload()">word <b>(.docx)</b></button> -->
                        <!-- <button class="linkbutton exp-xml">XML <b>(.xml)</b></button> -->
                        <button
                          class="linkbutton exp-csv"
                          (click)="commonMethod.downLoadFile('csv')"
                        >
                          csv <b>(.csv)</b>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--.container-->
          </div>
          <!--.body-page-container-->
          <!-- added new -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column-->
      <!-- added new -->
    </div>
    <!--.main-->

    <div class="vspacer20"></div>
    <!--.vspacer20-->
    <!-- ===========footer section start========= -->
    <div class="footer-container sticky-actions">
      <div class="footer-inactions">
        <div class="container">
          <div class="row"></div>
          <!--.row-->
        </div>
        <!--.container-->
      </div>
      <!-- footer-inactions -->
    </div>
    <!--.footer-container-->
    <div class="sticky-actions-spacer"></div>
    <!-- ==============footer section end============ -->
    <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
      <div class="tinymodal-overlay"></div>
      <!--.tinymodal-overlay-->
      <div class="tinymodal">
        <div class="tinymodal-content">
          <div class="row">
            <div class="col-12 tinymodal-header">
              <div>
                <button
                  type="button"
                  class="close"
                  (click)="closeActionModel()"
                >
                  <span> <img src="assets/images/icons/cross.png" /></span>
                </button>
                <!--.tinymodal-info-->
              </div>
            </div>
          </div>
        </div>
        <!--.tinymodal-content-->
      </div>
      <!--.tinymodal-->
    </div>

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</div>
