<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Change Password</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!-----.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <!-- ======== header section start ========== -->
        <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->
            <div class="main-content">
              <div class="row">
                <div class="col-12 col-md-6"></div>
                <div class="col-12 col-md-6">
                  <div class="ux-input">
                    <label>Date</label>
                    <input id="dateRangeInput" type="text" name="daterangeInput" daterangepicker [options]="options"
                      (selected)="selectedDate1($event, daterange)" />
                    <a href="javascript:;" class="calendar-ic cal-top" daterangepicker [options]="options"
                      (selected)="selectedDate1($event, daterange)"></a>
                  </div>
                </div>
              </div>
              <div class="vspacer20"></div>
              <div class="ux-nav-tabs" *ngIf="adminActivities.length > 0">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                  <li class="nav-item" (click)="activityTabClicked()">
                    <a class="nav-link account-details" data-toggle="tab" href="#role"
                      [ngClass]="{ active: tabselected == 'activity' }">Activities</a>
                  </li>
                  <li class="nav-item" (click)="reportTabClicked()">
                    <a class="nav-link recent-trans" data-toggle="tab" href="#user"
                      [ngClass]="{ active: tabselected == 'report' }">Customize Reports</a>
                  </li>
                </ul>
              </div>
              <div *ngIf="adminActivities.length > 0" class="row mt-3">
                <div class="col-12 mb-0" id="activity" [ngClass]="tabselected == 'activity' ? 'active' : 'fade'">
                  <div class="datatable-box">
                    <div class="table-responsive">
                      <table id="dt-sample" class="table display table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">User Name</th>
                            <!-- <th scope="col">Role Name</th> -->
                            <th scope="col">Channel Request</th>
                            <th scope="col">Category</th>
                            <th scope="col">Event Name</th>
                            <th scope="col">Operation</th>
                            <th scope="col">Browser</th>
                            <th scope="col">OS</th>
                            <th scope="col">IP Address</th>
                            <th scope="col">Latitude</th>
                            <th scope="col">Longitude</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                                let item of adminActivities;
                                let i = index
                              ">
                            <td>{{ i + 1 }}</td>
                            <td>
                              {{
                                  item.createdbyname == null ||
                                  item.createdbyname == ""
                                    ? "-"
                                    : item.createdbyname
                                }}
                            </td>
                            <!-- <td>
                              {{
                                  item.roleName == null ||
                                  item.roleName == ""
                                    ? "-"
                                    : item.roleName
                                }}
                            </td> -->
                            <td>
                              {{
                                  item.channelRequest == null ||
                                  item.channelRequest == ""
                                    ? "-"
                                    : item.channelRequest
                                }}
                            </td>
                            <td>
                              {{
                                  item.category == null || item.category == ""
                                    ? "-"
                                    : item.category
                                }}
                            </td>
                            <td>
                              {{
                                  item.eventName == null || item.eventName == ""
                                    ? "-"
                                    : item.eventName
                                }}
                            </td>

                            <td>
                              {{
                                  item.action == null || item.action == ""
                                    ? "-"
                                    : item.action
                                }}
                            </td>
                            <td>
                              {{
                                  item.browser == null || item.browser == ""
                                    ? "-"
                                    : item.browser
                                }}
                            </td>
                            <td>
                              {{
                                  item.os == null || item.os == ""
                                    ? "-"
                                    : item.os
                                }}
                            </td>
                            <td>
                              {{
                                  item.ip == null || item.ip == ""
                                    ? "-"
                                    : item.ip
                                }}
                            </td>
                            <td>
                              {{
                                  item.lat == null || item.lat == ""
                                    ? "-"
                                    : item.lat
                                }}
                            </td>
                            <td>
                              {{
                                  item.lon == null || item.lon == ""
                                    ? "-"
                                    : item.lon
                                }}
                            </td>
                            <td>
                              {{
                                  item.createdon == null || item.createdon == ""
                                    ? "-"
                                    : (item.createdon | date: "dd-MMM-yyyy")
                                }}
                            </td>
                            <td>
                              {{
                                  item.createdon == null || item.createdon == ""
                                    ? "-"
                                    : (item.createdon | date: "h:mm:ss a")
                                }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--.table-responsivebox-->
                  </div>
                  <!--.datatable-box-->

                  <div class="dt-extras mt-4" *ngIf="adminActivities.length > 0">
                    <div class="dt-exports">
                      <em>Export to :<span class="chevron"></span></em>
                      <button class="linkbutton exp-excel" (click)="commonMethod.downLoadFile('excel')">
                        Excel <b>(.xlsx)</b>
                      </button>
                      <button class="linkbutton exp-pdf" (click)="commonMethod.downLoadFile('pdf')">
                        Pdf <b>(.pdf)</b>
                      </button>
                      <button class="linkbutton exp-csv" (click)="commonMethod.downLoadFile('csv')">
                        csv <b>(.csv)</b>
                      </button>
                    </div>
                    <!--.dt-exports-->
                  </div>

                  <div class="row mt-5">
                    <div class="col-6 col-lg-2"></div>
                    <div class="col-6 col-lg-2 offset-lg-8">
                      <button class="ux-button" (click)="cancelClick()">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
                <div [ngClass]="tabselected == 'report' ? 'active' : 'fade'" id="report">
                  <div id="output" style="margin-top: 20px; margin-left: 20px"></div>
                  <div class="dt-extras mt-4" *ngIf="adminActivities.length > 0">
                    <div class="dt-exports" style="
                          position: absolute;
                          text-align: center;
                          float: left;
                          left: 0px;
                          right: 0;
                          margin-top: 50px;
                        ">
                      <em>Export to :<span class="chevron"></span></em>
                      <button class="linkbutton exp-excel" (click)="commonMethod.downLoadFile('excel')">
                        Excel <b>(.xlsx)</b>
                      </button>
                      <button class="linkbutton exp-pdf" (click)="commonMethod.downLoadFile('pdf')">
                        Pdf <b>(.pdf)</b>
                      </button>
                      <button class="linkbutton exp-csv" (click)="commonMethod.downLoadFile('csv')">
                        csv <b>(.csv)</b>
                      </button>
                    </div>
                    <!--.dt-exports-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>
