<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Forgot Password</title>

  <!-- <link href="css/lib/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="css/mjbl.min.css" rel="stylesheet"> -->
</head>

<body class="login-container-body">
  <div class="prelogin-page">
    <div class="main">
      <div class="right-main-column minus-rt-col">
        <div class="right-col-container minus-nav">
            <!-- ======== header section start ========== -->
            <header class="global-header minus-nav">
                <div class="in-header">
                  <div class="header-icons-lft">
                    <div class="header-actions">
                      <button class="ux-button-header btn-notification-bell">
                        <img src="assets/images/svg/home1.svg" />
                        <em></em>
                      </button>
                    </div>
                    <!--.header-actions-->
                  </div>
                  <!--.header-icons-lft-->
                  <div class="brand-logo">
                    <img src="assets/images/logo/psb-bank.png" />
                  </div>
                  <div class="header-icons-rit">
                    <div class="header-actions">
                      <button
                        class="ux-button-header btn-notification-bell"
                      ></button>
                    </div>
                    <!--.header-actions-->
                  </div>
                  <!--.header-icons-rit-->
                </div>
                <!-- in-header -->
              </header>
              <!-- ======== header section end ========== -->
              <div class="vspacer40"></div>

          <!-- ========== body section start ========= -->
          <div class="body-page-container login-container">

            <div class="container">


              <div class="row">
                <div class="col-sm-3 col-12"></div>
                <!--.col-sm-3 col-12-->
                <div class="col-sm-6 col-12">
                  <div class="login-content">
                    <div class="login-heading">
                      <div class="vspacer5"></div>
                      <h4>Admin Portal</h4>
                    </div>
                    <form [formGroup]="resetPasswordForm">
                      <h5 class="d-block">Forgot Password</h5>
                      <div class="row">
                        <div class="col-6 pl-0">
                          <div class="ux-input">
                            <label class="label-bold">Username</label>
                            <p>ra******le</p>
                          </div>
                        </div>
                        <div class="col-6 pr-0">
                          <div class="ux-input">
                            <label class="label-bold">Mobile number</label>
                            <p>88******89</p>
                          </div>
                        </div>
                      </div>

                      <div id="username" class="ux-input input-error">
                        <label>Username</label>
                        <input type="text" formControlName="username" placeholder="Enter Username" value="">
                        <p *ngIf="formErrors.username">{{ formErrors.username }}</p>
                      </div>

                      <div id="mob" class="ux-input input-error">
                        <label>Mobile Number</label>
                        <input type="text" numbersOnly formControlName="mobileNo" limit-to="10" placeholder="Enter Mobile Number">
                        <p *ngIf="formErrors.mobileNo">{{ formErrors.mobileNo }}</p>
                      </div>

                      <div id="pwd" class="ux-input input-error">
                        <label>Password</label>
                        <input type="password" formControlName="password" placeholder="Enter Password">
                        <p *ngIf="formErrors.password">{{ formErrors.password }}</p>
                      </div>

                      <div id="cnfPwd" class="ux-input input-error">
                        <label>Confirm Password</label>
                        <input type="password" formControlName="cnfPassword" placeholder="Enter Confirm Password">
                        <p *ngIf="formErrors.cnfPassword">{{ formErrors.cnfPassword }}</p>
                      </div>

                      <div id="otp" class="ux-input input-error">
                        <label>OTP</label>
                        <input type="text" numbersOnly limit-to="4" formControlName="otp" placeholder="Enter OTP">
                        <p *ngIf="formErrors.otp">{{ formErrors.otp }}</p>
                      </div>

                    </form>

                    <div class="vspacer10"></div>
                    <button *ngIf="!isUsernameAndMobileValidated" class="ux-button primary" (click)="onGetOtpCall()">Get OTP</button>
                    <button *ngIf="isUsernameAndMobileValidated" class="ux-button primary" (click)="onResetPassword()">Submit</button>
                    <div class="vspacer10"></div>
                  </div>
                  <div class="vspacer10"></div>
                  <!--.login-container-->
                  <div class="text-center" routerLink="/login">
                    <a href="javascript:;">Back To Login</a>
                  </div>
                </div>
                <!--.col-sm-6 col-12-->
                <div class="col-sm-3 col-12"></div>
                <!--.col-sm-3 col-12-->
              </div>
              <!--.row-->
            </div>
            <!--.container-->
          </div> <!-- body-page-container -->
          <!-- ========== body-page-container end ========= -->
          <!-- footer-container -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column minus-rt-col-->
      <!-- added new -->
    </div>
    <!--.main-->
  </div>
  <!-- .prelogin-page -->
  <!-- added new -->

  <!-- <div class="top-head-spacer login-container">
    </div>  -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>

</body>
