<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Add Reward Points</title>
  </head>

  <body>
    <div class="main">
      <app-navmenu></app-navmenu>
      <div class="nav-overlay"></div>
      <!--.nav-overlay-->
      <!-- navigation menu container end -->

      <div class="right-main-column">
        <div class="right-col-container full-width">
          <app-header></app-header>

          <!-- ======== body page content start from here ======== -->
          <div class="body-page-container">
            <div class="vspacer10"></div>
            <!--.vspacer10-->
            <div class="device-page-titles d-none d-md-none d-lg-block">
              <div class="component-title">
                <h4>{{ commonServiceCall.pageName }}</h4>
              </div>
              <div class="in-header d-none">
                <div class="header-icons-rit">
                  <div class="header-actions">
                    <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->
                  </div>
                  <!--.header-actions-->
                </div>
                <!--.header-icons-rit-->
              </div>
              <!-- in-header -->
            </div>
            <!-- device-page-titles -->
            <div class="container">
              <!-- load form -->
              <form [formGroup]="bcwebAddForm">
                <div class="row">
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Name</label>
                      <input
                        type="text"
                        formControlName="name"
                        placeholder="Enter name"
                      />
                      <p *ngIf="formErrors.name">
                        {{ formErrors.name }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Host</label>
                      <input
                        type="text"
                        formControlName="host"
                        placeholder="Enter host"
                      />
                      <p *ngIf="formErrors.host">
                        {{ formErrors.host }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>FTP Host</label>
                      <input
                        type="text"
                        formControlName="ftphost"
                        placeholder="Enter FTP Host"
                      />
                      <p *ngIf="formErrors.ftphost">
                        {{ formErrors.ftphost }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>FTP Port</label>
                      <input
                        type="text"
                        formControlName="ftpport"
                        placeholder="Enter FTP Port"
                      />
                      <p *ngIf="formErrors.ftpport">
                        {{ formErrors.ftpport }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>FTP User</label>
                      <input
                        type="text"
                        formControlName="ftpuser"
                        placeholder="Enter FTP User"
                      />
                      <p *ngIf="formErrors.ftpuser">
                        {{ formErrors.ftpuser }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>FTP Remote Dir</label>
                      <input
                        type="text"
                        formControlName="remotedir"
                        placeholder="Enter FTP Remote Dir"
                      />
                      <p *ngIf="formErrors.remotedir">
                        {{ formErrors.remotedir }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                </div>
              </form>
              <!--.row-->
              <div class="row mt-5">
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="addBCWeb()">
                    Save
                  </button>
                </div>
              </div>
            </div>
            <!--.container-->
          </div>
          <!--.body-page-container-->
          <!-- added new -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column-->
      <!-- added new -->
    </div>
    <!--.main-->
      <!-- ===========footer section start========= -->
      <div class="sticky-actions-spacer"></div>
      <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
        <div class="tinymodal-overlay"></div>
        <!--.tinymodal-overlay-->

        <!--.tinymodal-->
      </div>
      <!-- ==============footer section end============ -->

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
