<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Notifications</title>

	</head>

<body>

	<div class="main">
		<app-navmenu></app-navmenu>
		<div class="nav-overlay"></div><!--.nav-overlay-->
		<!-- navigation menu container end -->

		<div class="right-main-column">
			<div class="right-col-container full-width">
				<!-- ======== header section start ========== -->
				<app-header></app-header>
				<!-- ======== header section end ========== -->
				<!-- ======== body page content start from here ======== -->
				<div class="body-page-container">
					<div class="vspacer10"></div><!--.vspacer10-->
					<div class="device-page-titles d-none d-md-none d-lg-block">
						<div class="in-header">
							<div class="header-icons-lft">
								<div class="header-actions">

									<div class="head-page-title">
										<h5>Notifications</h5>
									</div>
								</div><!--.header-actions-->
							</div><!--.header-icons-lft-->
						 	<div class="header-icons-rit">
								<div class="header-actions">
                                    <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->

								</div><!--.header-actions-->
							</div><!--.header-icons-rit-->
						</div> <!-- in-header -->
					</div> <!-- device-page-titles -->
					<div class="container">




                    </div><!--.container-->
				</div><!--.body-page-container--> <!-- added new -->
			</div><!--.right-col-container--> <!-- added new -->
		</div><!--.right-main-column--> <!-- added new -->
	</div><!--.main-->
	<!-- ===========footer section start========= -->
	<div class="sticky-actions-spacer"></div>
	<div class="footer-container sticky-actions">
		<div class="footer-inactions">
			<div class="container">
				<div class="row">
					<div class="col-6 col-lg-2 offset-lg-8">
						<!-- <button class="ux-button" (click)="cancel()">Cancel</button> -->
					</div>
					<div class="col-6 col-lg-2">
						<button class="ux-button" (click)="cancel()">Cancel</button>
					</div>
					<!--.col-xs-12-->
				</div>
			</div>
			<!--.container-->
		</div> <!-- footer-inactions -->
	</div>
	<!-- ==============footer section end============ -->

	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/common.js"></script>


</body>
