<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Add Reward Points</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <app-header></app-header>

        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <div class="vspacer10"></div>
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="component-title">
              <h4>{{ commonServiceCall.pageName }}</h4>
            </div>
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container">
            <!-- load form -->
            <form [formGroup]="rewardsPointsForm">
              <div class="row">
                <div class="col-6">
                  <div class="ux-input input-error">
                    <label>Reward Point Type</label>
                    <input type="text" formControlName="walletPointsType" limit-to="30"
                      placeholder="Enter Reward Point Type" />
                    <p *ngIf="formErrors.walletPointsType">
                      {{ formErrors.walletPointsType }}
                    </p>
                    <p
                      *ngIf="rewardsPointsForm.get('walletPointsType').touched && rewardsPointsForm.get('walletPointsType').value != '' && rewardsPointsForm.get('walletPointsType').invalid">
                      * Invalid reward point type
                    </p>
                  </div>
                  <!--.ux-input-->
                </div>
                <!--.col-12-->
                <div class="col-6">
                  <div class="ux-input input-error">
                    <label>Transaction Amount</label>
                    <input type="text" numbersOnly limit-to="20" formControlName="transAmt"
                      placeholder="Enter Transaction Amount" />
                    <p *ngIf="formErrors.transAmt">
                      {{ formErrors.transAmt }}
                    </p>
                  </div>
                  <!--.ux-input-->
                </div>
                <!--.col-12-->
                <div class="col-6">
                  <div class="ux-input input-error">
                    <label>From Date</label>
                    <input class="pr-0" type="date" [min]="todayDate" formControlName="fromDate"
                      placeholder="Enter From Date" (change)="onDateChange(rewardsPointsForm.value)" />
                    <p *ngIf="formErrors.fromDate">
                      {{ formErrors.fromDate }}
                    </p>
                  </div>
                  <!--.ux-input-->
                </div>
                <!--.col-6-->
                <div class="col-6">
                  <div class="ux-input input-error">
                    <label>To Date</label>
                    <input class="pr-0" type="date" [min]="todayDate" formControlName="toDate"
                      placeholder="Enter To Date" (change)="onDateChange(rewardsPointsForm.value)" />
                    <p *ngIf="formErrors.toDate">{{ formErrors.toDate }}</p>
                    <p *ngIf="toDateValid">{{ isToDateValidError }}</p>
                  </div>
                  <!--.ux-input-->
                </div>
                <!--.col-12-->
                <div class="col-6">
                  <div class="ux-input input-error">
                    <label>Channel Name</label>
                    <select formControlName="productType">
                      <option value="">Select Channel Name</option>
                      <option *ngFor="let product of this.productTypes; index as i" [value]="product.id">
                        {{ product.shortName | titlecase }}</option>
                    </select>
                    <p *ngIf="formErrors.productType">
                      {{ formErrors.productType }}
                    </p>
                  </div>
                </div>
                <!--.col-12-->
                <div class="col-6">
                  <div class="ux-input input-error">
                    <label>Reward Points</label>
                    <input type="text" numbersOnly limit-to="20" formControlName="walletPoints"
                      placeholder="Enter Reward Points" />
                    <p *ngIf="formErrors.walletPoints">
                      {{ formErrors.walletPoints }}
                    </p>
                  </div>
                  <!--.ux-input-->
                </div>
                <!--.col-12-->
                <div class="col-6">
                  <div class="ux-input input-error">
                    <label>Status</label>
                    <select formControlName="status">
                      <option value="">Select Status</option>
                      <option *ngFor="let status of masterStatus; index as i" [value]="status.id">
                        {{ status.shortName | titlecase }}</option>
                    </select>
                    <p *ngIf="formErrors.status">{{ formErrors.status }}</p>
                  </div>
                  <!--.ux-input-->
                </div>
              </div>
            </form>
            <!--.row-->
            <div class="row mt-5">
              <div class="col-6 col-lg-2 offset-lg-8">
                <button class="ux-button" (click)="cancel()">Cancel</button>
              </div>
              <div *ngIf="this.commonData.roleType == 'Maker'" class="col-6 col-lg-2">
                <button class="ux-button primary" (click)="openActionModel('remarkField', rewardsPointsForm.value)">
                  Save
                </button>
              </div>
              <div class="col-6 col-lg-2" *ngIf="this.commonData.roleType != 'Maker'">
                <button class="ux-button primary" (click)="addMaster()">
                  Save
                </button>
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
    <div class="tinymodal-overlay"></div>
    <!--.tinymodal-overlay-->
    <div class="tinymodal">

      <div *ngIf="selModel === 'remarkField'" class="tinymodal-content">
        <form [formGroup]="remarkForm">
          <div class="row">
            <div class="col-12 px-0 mt-2">
              <div class="ux-input input-error">
                <textarea formControlName="remark" placeholder="Enter Remark"></textarea>
                <p *ngIf="formErrors.remark">{{ formErrors.remark }}</p>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6">
              <button class="ux-button" (click)="closeActionMoel()">Cancel</button>
            </div>
            <div class="col-6">
              <button class="ux-button primary" (click)="addRewardPointsWithRemark(remarkForm.value)">OK</button>
            </div>
            <!--.col-xs-12-->
          </div>
        </form>
      </div>
      <!--.tinymodal-content-->
    </div>
    <!--.tinymodal-->
  </div>
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>