<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Customer Reward Points</title>

</head>

<body>

	<div class="main">
		<app-navmenu></app-navmenu>
		<div class="nav-overlay"></div>
		<!--.nav-overlay-->
		<!-- navigation menu container end -->

		<div class="right-main-column">
			<div class="right-col-container full-width">
				<!-- ======== header section start ========== -->
				<app-header></app-header>
				<!-- ======== header section end ========== -->
				<!-- ======== body page content start from here ======== -->
				<div class="body-page-container">
					<div class="vspacer10"></div>
					<!--.vspacer10-->
					<div class="device-page-titles d-none d-md-none d-lg-block">
						<div class="in-header">
							<div class="header-icons-lft">
								<div class="header-actions">

									<div class="head-page-title">
										<h5>Customer Reward Points</h5>
									</div>
								</div>
								<!--.header-actions-->
							</div>
							<!--.header-icons-lft-->
							<div class="header-icons-rit">
								<div class="header-actions">


								</div>
								<!--.header-actions-->
							</div>
							<!--.header-icons-rit-->
						</div> <!-- in-header -->
					</div> <!-- device-page-titles -->
					<div class="container">

						<div class="row mt-3">
							<div class="col-12 mb-0">
								<div class="datatable-box">
									<div class="table-responsive">
										<table id="dt-sample" class="table display table-hover">
											<thead>
												<tr>
													<th scope="col"> Sr. No.
													</th>
													<th scope="col"> Reward Point Type
													</th>
													<th scope="col"> Amount
													</th>
													<th scope="col"> Reward Points
													</th>
													<th scope="col"> Created On
													</th>
													<!-- <th scope="col"> Product Name
													</th> -->
													<th scope="col"> Status
													</th>


												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let item of custRewardMasterArr; let i=index">
													<td> {{i+1}} </td>
													<td> {{item.configtype}} </td>
													<td> {{item.amount}} </td>
													<td> {{item.points}} </td>
													<td> {{item.createdon | date:"yyyy/MM/dd" }} </td>
													<!-- <td> {{item.shortname}}</td> -->
													<td> {{item.status}} </td>
												</tr>
											</tbody>
										</table>
									</div>
									<pagination-controls (pageChange)="p = $event"></pagination-controls>
									<!--.table-responsivebox-->
								</div>
								<!--.datatable-box-->
								<div class="dt-extras mt-4" *ngIf="custRewardMasterArr.length > 0">
									<div class="dt-exports">
										<em>Export to :<span class="chevron"></span></em>
										<button class="linkbutton exp-excel"
											(click)="commonMethod.downLoadFile('excel')">Excel <b>(.xlsx)</b></button>
										<button class="linkbutton exp-pdf"
											(click)="commonMethod.downLoadFile('pdf')">Pdf <b>(.pdf)</b></button>

										<button class="linkbutton exp-csv"
											(click)="commonMethod.downLoadFile('csv')">csv <b>(.csv)</b></button>
									</div>
									<!--.dt-exports-->
								</div>
							</div>
						</div>
						<div class="row mt-5">
							<div class="col-6 col-lg-2"></div>
							<div class="col-6 col-lg-2 offset-lg-8">
								<button class="ux-button" (click)="cancelClick()">Cancel</button>
							</div>
						</div>

					</div>
					<!--.container-->
				</div>
				<!--.body-page-container-->
				<!-- added new -->
			</div>
			<!--.right-col-container-->
			<!-- added new -->
		</div>
		<!--.right-main-column-->
		<!-- added new -->
	</div>
	<!--.main-->
	<!-- ===========footer section start========= -->
	<div class="sticky-actions-spacer"></div>

	<!--.footer-container-->
	<!-- ==============footer section end============ -->

	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/common.js"></script>


</body>