<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Donation</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <!-- ======== header section start ========== -->
        <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-lft">
                <div class="header-actions">
                  <div class="head-page-title">
                    <h5>Services</h5>
                  </div>
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-lft-->
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->

            <div class="main-content">
              <div *ngIf="priviledgeDataArr.viewChecked" class="row mt-3">
                <div class="col-12 mb-0">
                  <div class="datatable-box">
                    <div class="table-responsive">
                      <table id="dt-sample" class="table display table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Account Number</th>
                            <th scope="col">Primary Account</th>
                            <th scope="col">Branch</th>
                            <th scope="col">Name</th>
                            <th scope="col">Father Name</th>
                            <th scope="col">Mother Name</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Marital Status</th>
                            <th scope="col">Mobile Number</th>
                            <th scope="col">PAN Number</th>
                            <th scope="col">Aadhaar Number</th>
                            <th scope="col">Aadhaar Address</th>
                            <th scope="col">Aadhaar Account Confirmation</th>
                            <th scope="col">Communication Address</th>
                            <th scope="col">Permanent Address</th>
                            <th scope="col">State</th>
                            <th scope="col">District</th>
                            <th scope="col">Occupation</th>
                            <th scope="col">Gross Income</th>
                            <th scope="col">Nominee Name</th>
                            <th scope="col">Relationship</th>
                            <th scope="col">Fatca Compliance</th>
                            <th scope="col">Terms & Condition</th>
                            <th scope="col">Reference Number</th>
                            <th scope="col">Category</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of accountLeads; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>
                              {{
                                  item.accountNumber == null ||
                                  item.accountNumber == ""
                                    ? "-"
                                    : item.accountNumber
                                }}
                            </td>
                            <td>
                              {{
                                  item.primaryAccount == null ||
                                  item.primaryAccount == ""
                                    ? "-"
                                    : item.primaryAccount
                                }}
                            </td>
                            <td>
                              {{
                                  item.branch == null || item.branch == ""
                                    ? "-"
                                    : item.branch
                                }}
                            </td>
                            <td>
                              {{
                                  item.name == null || item.name == ""
                                    ? "-"
                                    : item.name
                                }}
                            </td>
                            <td>
                              {{
                                  item.father_Name == null ||
                                  item.father_Name == ""
                                    ? "-"
                                    : item.father_Name
                                }}
                            </td>
                            <td>
                              {{
                                  item.mother_Name == null ||
                                  item.mother_Name == ""
                                    ? "-"
                                    : item.mother_Name
                                }}
                            </td>
                            <td>
                              {{
                                  item.dob == null || item.dob == ""
                                    ? "-"
                                    : (item.dob | date: "yyyy/MM/dd")
                                }}
                            </td>
                            <td>
                              {{
                                  item.gender == null || item.gender == ""
                                    ? "-"
                                    : item.gender
                                }}
                            </td>
                            <td>
                              {{
                                  item.marital_Status == null ||
                                  item.marital_Status == ""
                                    ? "-"
                                    : item.marital_Status
                                }}
                            </td>
                            <td>
                              {{
                                  item.mobile == null || item.mobile == ""
                                    ? "-"
                                    : item.mobile
                                }}
                            </td>
                            <td>
                              {{
                                  item.pan == null || item.pan == ""
                                    ? "-"
                                    : item.pan
                                }}
                            </td>
                            <td>
                              {{
                                  item.aadhar == null || item.aadhar == ""
                                    ? "-"
                                    : item.aadhar
                                }}
                            </td>
                            <td>
                              {{
                                  item.adhar_Address == null ||
                                  item.adhar_Address == ""
                                    ? "-"
                                    : item.adhar_Address
                                }}
                            </td>
                            <td>
                              {{
                                  item.confirmationAddharAccountYN == null ||
                                  item.confirmationAddharAccountYN == ""
                                    ? "-"
                                    : item.confirmationAddharAccountYN
                                }}
                            </td>
                            <td>
                              {{
                                  item.communication_Address == null ||
                                  item.communication_Address == ""
                                    ? "-"
                                    : item.communication_Address
                                }}
                            </td>
                            <td>
                              {{
                                  item.permanount_Address == null ||
                                  item.permanount_Address == ""
                                    ? "-"
                                    : item.permanount_Address
                                }}
                            </td>
                            <td>
                              {{
                                  item.state_Name == null || item.state_Name == ""
                                    ? "-"
                                    : item.state_Name
                                }}
                            </td>
                            <td>
                              {{
                                  item.district == null || item.district == ""
                                    ? "-"
                                    : item.district
                                }}
                            </td>
                            <td>
                              {{
                                  item.occupation == null || item.occupation == ""
                                    ? "-"
                                    : item.occupation
                                }}
                            </td>
                            <td>
                              {{
                                  item.gross_Income == null ||
                                  item.gross_Income == ""
                                    ? "-"
                                    : item.gross_Income
                                }}
                            </td>
                            <td>
                              {{
                                  item.nominee_Name == null ||
                                  item.nominee_Name == ""
                                    ? "-"
                                    : item.nominee_Name
                                }}
                            </td>
                            <td>
                              {{
                                  item.relationship == null ||
                                  item.relationship == ""
                                    ? "-"
                                    : item.relationship
                                }}
                            </td>
                            <td>
                              {{
                                  item.fatcaCompliance == null ||
                                  item.fatcaCompliance == ""
                                    ? "-"
                                    : item.fatcaCompliance
                                }}
                            </td>
                            <td>
                              {{
                                  item.termsCondition == null ||
                                  item.termsCondition == ""
                                    ? "-"
                                    : item.termsCondition
                                }}
                            </td>
                            <td>
                              {{
                                  item.referenceNumberAccOpe == null ||
                                  item.referenceNumberAccOpe == ""
                                    ? "-"
                                    : item.referenceNumberAccOpe
                                }}
                            </td>
                            <td>
                              {{
                                  item.category == null || item.category == ""
                                    ? "-"
                                    : item.category
                                }}
                            </td>
                            <td>
                              {{
                                  item.createdOn == null || item.createdOn == ""
                                    ? "-"
                                    : (item.createdOn | date: "yyyy/MM/dd")
                                }}
                            </td>
                            <td>
                              {{
                                  item.createdByName == null ||
                                  item.createdByName == ""
                                    ? "-"
                                    : item.createdByName
                                }}
                            </td>
                            <td>
                              {{
                                  item.statusName == null || item.statusName == ""
                                    ? "-"
                                    : item.statusName
                                }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--.table-responsivebox-->
                  </div>
                  <!--.datatable-box-->
                  <div class="dt-extras mt-4" *ngIf="accountLeads.length > 0">
                    <div class="dt-exports">
                      <em>Export to :<span class="chevron"></span></em>
                      <button class="linkbutton exp-excel" (click)="commonMethod.downLoadFile('excel')">
                        Excel <b>(.xlsx)</b>
                      </button>
                      <button class="linkbutton exp-pdf" (click)="commonMethod.downLoadFile('pdf')">
                        Pdf <b>(.pdf)</b>
                      </button>
                      <button class="linkbutton exp-csv" (click)="commonMethod.downLoadFile('csv')">
                        csv <b>(.csv)</b>
                      </button>
                    </div>
                    <!--.dt-exports-->
                  </div>
                </div>
              </div>
              <div class="row mt-5" *ngIf="priviledgeDataArr.viewChecked">
                <div class="col-6 col-lg-2"></div>
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancelClick()">
                    Cancel
                  </button>
                </div>
              </div>
            </div>

          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>
