<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Add Customize Menu</title>
  </head>

  <body>
    <div class="main">
      <app-navmenu></app-navmenu>
      <div class="nav-overlay"></div>
      <!--.nav-overlay-->
      <!-- navigation menu container end -->

      <div class="right-main-column">
        <div class="right-col-container full-width">
          <app-header></app-header>
          <!-- ======== header section end ========== -->
          <!-- ======== body page content start from here ======== -->
          <div class="body-page-container">
            <!-- <div class="vspacer10"></div> -->
            <!--.vspacer10-->
            <div class="device-page-titles d-none d-md-none d-lg-block">
              <!-- <div class="component-title">
                <h4>{{ commonServiceCall.pageName }}</h4>
              </div> -->
              <div class="in-header d-none">
                <div class="header-icons-rit">
                  <div class="header-actions"></div>
                  <!--.header-actions-->
                </div>
                <!--.header-icons-rit-->
              </div>
              <!-- in-header -->
            </div>
            <!-- device-page-titles -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 p-0">
                  <div class="breadcrumb">
                    <ul class="lst-breadcrumb">
                      <li>
                        <h6>{{ commonServiceCall.pageName }}</h6>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--.row -->

              <div class="main-content">
                <!-- load form -->
                <form [formGroup]="customizeAddUserForm">
                  <div class="row">
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Menu Name</label>
                        <input
                          type="text"
                          formControlName="modelName"
                          limit-to="40"
                          placeholder="Enter Menu Name"
                          alphabetsOnly
                        />
                        <p *ngIf="formErrors.modelName">
                          {{ formErrors.modelName }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <!--.col-12-->
                    <!-- <div class="col-6">
									<div class="ux-input input-error">
										<label><span class="mandatory">* </span>Type</label>
										<select formControlName="roleId">
											<option value=''>Select Type</option>
											<option value='0' >Retail</option>
                                            <option value='1' >Corporate</option>
										</select>
										<p *ngIf="formErrors.roleId">{{ formErrors.roleId }}</p>
									</div>
								</div> -->
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Product Type</label>
                        <select formControlName="type" (change)="typeChange()">
                          <option value="">Select Product Type</option>
                          <option value="0">Retail</option>
                          <option value="1">Corporate</option>
                        </select>
                        <p *ngIf="formErrors.type">{{ formErrors.type }}</p>
                      </div>
                    </div>
                    <div class="col-6" *ngIf="displayRoles">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Role</label>
                        <select formControlName="productType">
                          <option value="">Select Role</option>
                          <option
                            *ngFor="let item of roles; index as i"
                            [value]="item.id"
                          >
                            {{ item.name | titlecase }}
                          </option>
                        </select>
                        <p *ngIf="formErrors.productType">
                          {{ formErrors.productType }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <!--.col-12-->
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Channel Name</label>
                        <select formControlName="appId">
                          <option value="">Select Channel Name</option>
                          <option
                            *ngFor="let product of this.productTypes; index as i"
                            [value]="product.id"
                          >
                            {{ product.shortName | titlecase }}
                          </option>
                        </select>
                        <p *ngIf="formErrors.appId">{{ formErrors.appId }}</p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <!--.col-12-->
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Status</label>
                        <select formControlName="statusId">
                          <option value="">Select Status</option>
                          <option
                            *ngFor="let option of filterStatus(); index as i"
                            [value]="option.id"
                          >
                            {{ option.shortName | titlecase }}
                          </option>
                        </select>
                        <p *ngIf="formErrors.statusId">
                          {{ formErrors.statusId }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Menu Type</label>
                        <input
                          type="text"
                          formControlName="menuType"
                          limit-to="40"
                          placeholder="Enter Menu Type"
                          alphabetsOnly
                        />
                        <p *ngIf="formErrors.menuType">
                          {{ formErrors.menuType }}
                        </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="ux-input">
                        <div class="file-input input-error">
                          <input
                            type="file"
                            style="width: 100%; height: 100%; z-index: 100"
                            name="logoImage"
                            (change)="addImage($event)"
                          />
                          <label for="file-sample">
                            <h4>Upload Logo Image</h4>
                            <p>
                              Note: Please upload 380px * 180px dimensions image
                            </p>
                          </label>
                        </div>
                      </div>
                      <!--.ux-input-->
                      <div class="ux-input input-error">
                        <p *ngIf="isLogoImgError">* Please upload logo image</p>
                        <p *ngIf="isValidLogoFileFormat">
                          * Please upload png or jpeg file
                        </p>
                        <p *ngIf="isValidLogoSizeFileFormat">
                          * Please upload 380px * 180px dimensions image
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6"></div>
                    <div
                      class="col-6"
                      *ngIf="logoImage != '' && logoImage != undefined"
                    >
                      <div class="img-uploaded">
                        <img src="{{ logoImage }}" />
                      </div>
                    </div>
                  </div>
                </form>
                <!--.row-->
                <div class="row mt-5">
                  <div class="col-6 col-lg-2 offset-lg-8">
                    <button class="ux-button" (click)="cancel()">Cancel</button>
                  </div>
                  <div class="col-6 col-lg-2">
                    <button class="ux-button primary" (click)="add()">
                      Save
                    </button>
                  </div>
                  <!--.col-xs-12-->
                </div>
              </div>
            </div>
            <!--.container-->
          </div>
          <!--.body-page-container-->
          <!-- added new -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column-->
      <!-- added new -->
    </div>
    <!--.main-->
    <!-- ===========footer section start========= -->
    <div class="sticky-actions-spacer"></div>
    <!-- ==============footer section end============ -->
  </body>
</html>
