<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Edit Announcement</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <app-header></app-header>
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->

            <div class="main-content">
              <!-- load form -->
              <form [formGroup]="announcementEditForm">
                <div class="row md-5">
                  <div class="col-12 col-md-6 col-lg-6">
                    <div class="row">
                      <div class="col-12">
                        <div class="ux-input">
                          <div class="file-input input-error">
                            <input type="file" style="width: 100%; height: 100%; z-index: 100" name="smallImage"
                              (change)="addImage($event, 'small')" />
                            <label for="file-sample">
                              <h4>Upload Small Image</h4>
                              <p>
                                Note: Please upload 128px * 80px dimensions
                                image
                              </p>
                              <!-- <p>Upload File To See Records</p> -->
                            </label>
                          </div>
                        </div>
                        <!--.ux-input-->
                        <div class="ux-input input-error">
                          <p *ngIf="isSmallImgError">
                            * Please upload small image
                          </p>
                          <p *ngIf="isValidSmallFileFormat">
                            * Please upload png or jpeg file
                          </p>
                          <p *ngIf="isValidSmallSizeFileFormat">
                            * Please upload 128px * 80px dimensions image
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12" *ngIf="smallImage != '' && smallImage != undefined">
                      <div class="img-uploaded">
                        <img src="{{ smallImage }}" />
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-6">
                    <div class="row">
                      <div class="col-12">
                        <div class="ux-input">
                          <div class="file-input input-error">
                            <!-- id="file-sample" -->
                            <input type="file" style="width: 100%; height: 100%; z-index: 100" name="bigImage"
                              (change)="addImage($event, 'big')" />
                            <label for="file-sample">
                              <h4>Upload Big Image</h4>
                              <p>
                                Note: Please upload 380px * 180px dimensions
                                image
                              </p>
                              <!-- <p>Upload File To See Records</p> -->
                            </label>
                          </div>
                        </div>
                        <div class="ux-input input-error">
                          <p *ngIf="isBigImgError">
                            * Please upload big image
                          </p>
                          <p *ngIf="isValidBigFileFormat">
                            * Please upload png or jpeg file
                          </p>
                          <p *ngIf="isValidBigSizeFileFormat">
                            * Please upload 380px * 180px dimensions image
                          </p>
                        </div>
                      </div>
                      <div class="col-12" *ngIf="bigImage != '' && bigImage != undefined">
                        <div class="img-uploaded">
                          <img src="{{ bigImage }}" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Announcement Header Name</label>
                      <input type="text" formControlName="announcementHeaderName" limit-to="40"
                        placeholder="Enter Announcement Header Name" />
                      <p *ngIf="formErrors.announcementHeaderName">
                        {{ formErrors.announcementHeaderName }}
                      </p>
                      <p *ngIf="
                            announcementEditForm.get('announcementHeaderName')
                              .touched &&
                            announcementEditForm.get('announcementHeaderName')
                              .value != '' &&
                            announcementEditForm.get('announcementHeaderName')
                              .invalid
                          ">
                        * Invalid header name
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Channel Name</label>
                      <select formControlName="productType">
                        <option value="">Select Channel Name</option>
                        <!-- appid -->
                        <option *ngFor="let option of productType; index as i" [value]="option.id">
                          {{ option.shortName }}
                        </option>
                      </select>
                      <p *ngIf="formErrors.productType">
                        {{ formErrors.productType }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Sequence Number</label>
                      <input type="text" formControlName="seqNo" numbersOnly limit-to="10"
                        placeholder="Enter Sequence Number" />
                      <p *ngIf="formErrors.seqNo">{{ formErrors.seqNo }}</p>
                      <p *ngIf="
                            announcementEditForm.get('seqNo').touched &&
                            announcementEditForm.get('seqNo').invalid &&
                            announcementEditForm.get('seqNo').value != ''
                          ">
                        * Invalid sequence number
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Web Link</label>
                      <input type="text" formControlName="webLink" limit-to="40" placeholder="Enter Web Link" />
                      <p *ngIf="formErrors.webLink">
                        {{ formErrors.webLink }}
                      </p>
                      <p *ngIf="
                            announcementEditForm.get('webLink').touched &&
                            announcementEditForm.get('webLink').invalid &&
                            announcementEditForm.get('webLink').value != ''
                          ">
                        * Invalid weblink
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Latitude</label>
                      <input type="text" formControlName="lat" placeholder="Enter Latitude" limit-to="20" />
                      <p *ngIf="formErrors.lat">{{ formErrors.lat }}</p>
                      <p *ngIf="
                            announcementEditForm.get('lat').touched &&
                            announcementEditForm.get('lat').value != '' &&
                            announcementEditForm.get('lat').invalid
                          ">
                        * Invalid latitude value
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Longitude</label>
                      <input type="text" formControlName="lon" placeholder="Enter Longitude" limit-to="20" />
                      <p *ngIf="formErrors.lon">{{ formErrors.lon }}</p>
                      <p *ngIf="
                            announcementEditForm.get('lon').touched &&
                            announcementEditForm.get('lon').value != '' &&
                            announcementEditForm.get('lon').invalid
                          ">
                        * Invalid longitude value
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>From Date</label>
                      <input class="pr-0" type="date" [min]="todayDate" formControlName="fromDate"
                        placeholder="Enter From Date" (change)="onDateChange(announcementEditForm.value)" />
                      <p *ngIf="formErrors.fromDate">
                        {{ formErrors.fromDate }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>To Date</label>
                      <input class="pr-0" type="date" [min]="todayDate" formControlName="toDate"
                        placeholder="Enter To Date" (change)="onDateChange(announcementEditForm.value)" />
                      <p *ngIf="formErrors.toDate">{{ formErrors.toDate }}</p>
                      <p *ngIf="toDateValid">{{ isToDateValidError }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Announcement Type</label>
                      <select formControlName="announcementType">
                        <option value="">Select Announcement Type</option>
                        <option *ngFor="
                              let annType of announcementTypeList;
                              index as i
                            " [value]="annType">
                          {{ annType }}
                        </option>
                      </select>
                      <p *ngIf="formErrors.announcementType">
                        {{ formErrors.announcementType }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Image Caption</label>
                      <input type="text" formControlName="caption" limit-to="40" placeholder="Enter Image Caption" />
                      <p *ngIf="formErrors.caption">
                        {{ formErrors.caption }}
                      </p>
                      <p *ngIf="
                            announcementEditForm.get('caption').touched &&
                            announcementEditForm.get('caption').value != '' &&
                            announcementEditForm.get('caption').invalid
                          ">
                        * Invalid caption name
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Status</label>
                      <select formControlName="status">
                        <option value="">Select Status</option>
                        <!-- statusId -->
                        <option *ngFor="let option of masterStatus; index as i" [value]="option.id">
                          {{ option.shortName | titlecase }}
                        </option>
                      </select>
                      <p *ngIf="formErrors.status">{{ formErrors.status }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                </div>
              </form>
              <!--.row-->
              <div class="row mt-5">
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>

                <div *ngIf="this.commonData.roleType == this.commonData.corpMakerRole" class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="
                        openActionModel(
                          'remarkField',
                          announcementEditForm.value
                        )
                      ">
                    Update
                  </button>
                </div>

                <div *ngIf="this.commonData.roleType != this.commonData.corpMakerRole" class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="updateAnnouncement()">
                    Update
                  </button>
                </div>
              </div>
              <!--Datatable for remark history-->
              <div class="row mt-3">
                <div class="col-12 mb-0">
                  <div class="datatable-box">
                    <div class="table-responsive">
                      <table id="dt-sample" class="table display table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Created By</th>
                            <th scope="col">Remark</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                                let item of remarkHistoryArr;
                                let i = index
                              ">
                            <td>{{ i + 1 }}</td>
                            <td>
                              {{
                                  item.createdon == null || item.createdon == ""
                                    ? "-"
                                    : (item.createdon | date: "yyyy-MM-dd")
                                }}
                            </td>
                            <td>
                              {{
                                  item.createdByName == null ||
                                  item.createdByName == ""
                                    ? "-"
                                    : item.createdByName
                                }}
                            </td>
                            <td>
                              {{
                                  item.remarks == null || item.remarks == ""
                                    ? "-"
                                    : item.remarks
                                }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--.table-responsivebox-->
                  </div>
                  <!--.datatable-box-->
                </div>
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
    <div class="tinymodal-overlay"></div>
    <!--.tinymodal-overlay-->
    <div class="tinymodal">
      <div *ngIf="selModel === 'remarkField'" class="tinymodal-content">
        <form [formGroup]="remarkForm">
          <div class="row">
            <div class="col-12 px-0 mt-2">
              <div class="ux-input input-error">
                <textarea formControlName="remark" placeholder="Enter Remark"></textarea>
                <p *ngIf="formErrors.remark">{{ formErrors.remark }}</p>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6">
              <button class="ux-button" (click)="closeActionMoel()">
                Cancel
              </button>
            </div>
            <div class="col-6">
              <button class="ux-button primary" (click)="updateCustomerOfferWithRemark(remarkForm.value)">
                OK
              </button>
            </div>
            <!--.col-xs-12-->
          </div>
        </form>
      </div>
      <!--.tinymodal-content-->
    </div>
    <!--.tinymodal-->
  </div>
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>
