<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Adapter Source Channel</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <!--.global-nav-->
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <!-- ======== header section start ========== -->
        <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">

            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">

                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->
            <div class="main-content">
              <div class="row" *ngIf="!showForm">
                <div class="col-6"></div>
                <div class="col-6 offset-lg-10 offset-6 col-lg-2" *ngIf="priviledgeDataArr.createChecked">
                  <button class="ux-button primary" (click)="showHideForm()">
                    + Add
                  </button>
                </div>
              </div>
              <!-- load form -->
              <form [formGroup]="adapterSourceChannelForm" *ngIf="showForm">
                <div class="row">
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Channel Name</label>
                      <select id="sl_Product" formControlName="channelName">
                        <option value="">Select Channel Name</option>
                        <option *ngFor="let product of this.productTypes; index as i" [value]="product.id">
                          {{ product.shortName | titlecase }}
                        </option>
                      </select>
                      <p *ngIf="formErrors.channelName">
                        {{ formErrors.channelName }}
                      </p>
                    </div>
                  </div>
                  <!--.col-12-->

                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Status</label>
                      <select id="sl_Status" formControlName="status">
                        <option value="">Select Status</option>
                        <option *ngFor="let status of filterStatus(); index as i" [value]="status.id">
                          {{ status.shortName | titlecase }}
                        </option>

                      </select>
                      <p *ngIf="formErrors.status">{{ formErrors.status }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                </div>
              </form>
              <!--.row-->
              <div class="row mt-5" *ngIf="showForm">
                <div class="col-6 offset-lg-8 col-lg-2">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>

                <div *ngIf="this.commonData.roleType == this.commonData.makerRole" class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="
                        openActionModel(
                          'remarkField',
                          adapterSourceChannelForm.value
                        )
                      ">
                    Save
                  </button>
                </div>

                <div *ngIf="this.commonData.roleType !== this.commonData.makerRole" class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="addAdapterSourceChannel()">
                    Save
                  </button>
                </div>
                <!--.col-xs-12-->
              </div>
              <!--.row-->


              <!-- load list -->
              <div *ngIf="!isAddButtonClicked && priviledgeDataArr.viewChecked" class="row mt-3">
                <div class="col-12 mb-0">
                  <div class="datatable-box">
                    <div class="table-responsive">
                      <table id="dt-sample" class="table display table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Channel Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Created By</th>
                            <th *ngIf="
                                  priviledgeDataArr.deleteChecked ||
                                  priviledgeDataArr.updateChecked
                                " scope="col">
                              Action
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                                let item of adapterSourceChannelDetails;
                                let i = index
                              ">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.appName }}</td>
                            <td>
                              {{ item.statusName }}
                            </td>
                            <td>{{ item.createdon | date: "yyyy/MM/dd" }}</td>
                            <td>
                              {{
                                  item.createdByName == null ||
                                  item.createdByName == ""
                                    ? "-"
                                    : item.createdByName
                                }}
                            </td>
                            <td *ngIf="
                                  priviledgeDataArr.deleteChecked ||
                                  priviledgeDataArr.updateChecked
                                ">
                              <img class="action-btn" src="assets/images/icons/edit.png" (click)="
                                    editAdapterSourceChannelDetails(item)
                                  " *ngIf="priviledgeDataArr.updateChecked" />

                              <img *ngIf="
                                    priviledgeDataArr.deleteChecked &&
                                    this.commonData.roleType == 'Maker'
                                  " class="action-btn" src="assets/images/icons/delete.png" (click)="
                                    openModelToDeleteWithRemark(
                                      'deleteChannelWithRemark',
                                      item
                                    )
                                  " />

                              <img *ngIf="
                                    priviledgeDataArr.deleteChecked &&
                                    this.commonData.roleType !== 'Maker'
                                  " class="action-btn" src="assets/images/icons/delete.png"
                                (click)="openModelToDelete(item)" />

                              <div class="ux-selection">

                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--.table-responsivebox-->
                  </div>
                  <!--.datatable-box-->
                  <div class="dt-extras mt-4" *ngIf="adapterSourceChannelDetails.length > 0">
                    <div class="dt-exports">
                      <em>Export to :<span class="chevron"></span></em>
                      <button class="linkbutton exp-excel" (click)="commonMethod.downLoadFile('excel')">
                        Excel <b>(.xlsx)</b>
                      </button>
                      <button class="linkbutton exp-pdf" (click)="commonMethod.downLoadFile('pdf')">
                        Pdf <b>(.pdf)</b>
                      </button>

                      <button class="linkbutton exp-csv" (click)="commonMethod.downLoadFile('csv')">
                        csv <b>(.csv)</b>
                      </button>
                    </div>
                    <!--.dt-exports-->
                  </div>
                </div>
              </div>
              <div class="row mt-5" *ngIf="!showForm && priviledgeDataArr.viewChecked">
                <div class="col-6 col-lg-2"></div>
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancelClick()">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
    <div class="tinymodal-overlay"></div>
    <!--.tinymodal-overlay-->
    <div class="tinymodal">
      <div *ngIf="selModel == 'deleteChannel'" class="tinymodal-content">
        <div class="row">
          <div class="col-12 tinymodal-header"></div>
        </div>
        <div class="row">
          <div class="col-12 px-0 mt-2">
            <h5>Are you sure you want to delete channel?</h5>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-6">
            <button class="ux-button" (click)="closeActionModel()">
              Cancel
            </button>
          </div>
          <div class="col-6">
            <button class="ux-button primary" (click)="deleteChannel()">
              OK
            </button>
          </div>
          <!--.col-xs-12-->
        </div>
      </div>
      <!--.tinymodal-content-->

      <div *ngIf="selModel === 'remarkField'" class="tinymodal-content">
        <form [formGroup]="remarkForm">
          <div class="row">
            <div class="col-12 px-0 mt-2">
              <div class="ux-input input-error">
                <textarea formControlName="remark" placeholder="Enter Remark"></textarea>
                <p *ngIf="formErrors.remark">{{ formErrors.remark }}</p>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6">
              <button class="ux-button" (click)="closeActionModel()">
                Cancel
              </button>
            </div>
            <div class="col-6">
              <button class="ux-button primary" (click)="addAdapterSourceChannelWithRemark(remarkForm.value)">
                OK
              </button>
            </div>
            <!--.col-xs-12-->
          </div>
        </form>
      </div>
      <!--.tinymodal-content-->

      <div *ngIf="selModel === 'deleteChannelWithRemark'" class="tinymodal-content">
        <form [formGroup]="remarkDeleteForm">
          <div class="row">
            <div class="col-12 px-0 mt-2">
              <div class="ux-input input-error">
                <textarea formControlName="remarkDelete" placeholder="Enter Remark"></textarea>
                <p *ngIf="formErrors.remarkDelete">
                  {{ formErrors.remarkDelete }}
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6">
              <button class="ux-button" (click)="closeActionModel()">
                Cancel
              </button>
            </div>
            <div class="col-6">
              <button class="ux-button primary" (click)="deleteChannelWithRemark(remarkDeleteForm.value)">
                OK
              </button>
            </div>
            <!--.col-xs-12-->
          </div>
        </form>
      </div>
      <!--.tinymodal-content-->
    </div>
    <!--.tinymodal-->
  </div>
  <!-- ==============footer section end============ -->
</body>

</html>