<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Activity Log</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <!--.global-nav-->
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <app-header></app-header>
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->
            <div class="main-content">
              <!-- load form -->
              <form [formGroup]="auditLogForm">
                <div *ngIf="priviledgeDataArr.viewChecked" class="row md-5">
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>From Date</label>
                      <input class="pr-0" type="date" [max]="todayDate" formControlName="fromDate"
                        placeholder="Enter From Date" (change)="onDateChange(auditLogForm.value)" />
                      <p *ngIf="formErrors.fromDate">
                        {{ formErrors.fromDate }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-6-->
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>To Date</label>
                      <input class="pr-0" type="date" [max]="todayDate" formControlName="toDate"
                        placeholder="Enter To Date" (change)="onDateChange(auditLogForm.value)" />
                      <p *ngIf="formErrors.toDate">{{ formErrors.toDate }}</p>
                      <p *ngIf="toDateValid">{{ isToDateValidError }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-6-->
                  <!--.col-6-->
                </div>
              </form>
              <!--.row-->
              <!--.row-->
              <div *ngIf="priviledgeDataArr.viewChecked" class="row mb-5 mt-3">
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="addAuditLog()">
                    Submit
                  </button>
                </div>
              </div>
              <!--.row-->
              <div id="output" [hidden]="showGraph"></div>
              <div class="row mt-3" *ngIf="activityLog.length > 0">
                <div class="col-12 mb-0">
                  <div class="datatable-box">
                    <div class="table-responsive">
                    </div>
                  </div>
                  <!--.datatable-box-->
                </div>
              </div>
              <!--.row-->
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <!-- ==============footer section end============ -->
  <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
    <div class="tinymodal-overlay"></div>
    <!--.tinymodal-overlay-->
    <div class="tinymodal">
      <div class="tinymodal-content">
        <div class="row">
          <div class="col-12 tinymodal-header">
            <div>
              <button type="button" class="close" (click)="closeActionModel()">
                <span>
                  <img class="w-75" src="assets/images/icons/cross.png" /></span>
              </button>
              <!--.tinymodal-info-->
            </div>
          </div>
          <div class="col-12 mt-2">
            <p>{{ message }}</p>
          </div>
        </div>
      </div>
      <!--.tinymodal-content-->
    </div>
    <!--.tinymodal-->
  </div>

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>