<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Transaction Lists</title>


</head>

<body>

	<div class="main">
		<app-navmenu></app-navmenu>
		<div class="nav-overlay"></div>
		<!--.nav-overlay-->
		<!-- navigation menu container end -->

		<div class="right-main-column">
			<div class="right-col-container full-width">
				<!-- ======== header section start ========== -->
				<app-header></app-header>
				<!-- ======== header section end ========== -->
				<!-- ======== body page content start from here ======== -->
				<div class="body-page-container">
					<div class="vspacer10"></div>
					<!--.vspacer10-->
					<div class="device-page-titles d-none d-md-none d-lg-block">
						<div class="in-header">
							<div class="header-icons-lft">
								<div class="header-actions">

									<div class="head-page-title">
										<h5>Transactions</h5>
									</div>
								</div>
								<!--.header-actions-->
							</div>
							<!--.header-icons-lft-->
							<div class="header-icons-rit">
								<div class="header-actions">
									<!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->

								</div>
								<!--.header-actions-->
							</div>
							<!--.header-icons-rit-->
						</div> <!-- in-header -->
					</div> <!-- device-page-titles -->
					<!-- <div class="container">
						<div class="row">
							<div class='col-sm-6'>
								<div class="form-group">
									<div class='input-group date' id='datetimepicker1'>
										<input type='text' class="form-control" />
										<span class="input-group-addon">
											<span class="fa fa-calendar"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div> -->
					<div class="container">


						<!-- load form -->
						<form [formGroup]="allTransactionForm">
						<div class="row md-5">

							<div class="col-6">
								<div class="ux-input input-error">
									<label>From Date</label>
									<!-- <input class="pr-0" [max]="todayDate" formControlName="fromDate" placeholder="Enter from date" (change)="onDateChange(allTransactionForm.value)" > -->
									<div class='input-group date' id='fromDate'>
										<input  placeholder="mm/dd/yyyy hh:mm" class="pr-0" type="date"   formControlName="fromDate" (change)="onDateChange(allTransactionForm.value)"  type='text' class="form-control" />
										<span class="input-group-addon">
											<span class="fa fa-calendar" id="fromDtIc" style="color: black;"></span>
										</span>
									</div>
									<p *ngIf="formErrors.fromDate">{{ formErrors.fromDate }}</p>
								</div>
								<!--.ux-input-->
							</div>
							<!--.col-6-->
							<div class="col-6">
								<div class="ux-input input-error">
									<label>To Date</label>
									<!-- <input class="pr-0" type="date" [max]="todayDate" formControlName="toDate" placeholder="Enter to date" (change)="onDateChange(allTransactionForm.value)"> -->
									<div class='input-group date' id='toDate'>
										<input class="pr-0" [max]="todayDate" placeholder="mm/dd/yyyy hh:mm" formControlName="toDate" (change)="onDateChange(allTransactionForm.value)"  type='text' class="form-control" />
										<span class="input-group-addon">
											<span class="fa fa-calendar" id="toDateIc" style="color: black;"></span>
										</span>
									</div>
									<p *ngIf="formErrors.toDate">{{ formErrors.toDate }}</p>
									<p *ngIf="toDateValid">{{ isToDateValidError }}</p>
								</div>
								<!--.ux-input-->
							</div>
							<!--.col-6-->
							<div class="col-6">
								<div class="ux-input input-error">
									<label>Channel Name</label>
									<select formControlName="channel" >
										<option value="">Select Channel Name</option>
										<option *ngFor="let product of productTypes; index as i" [value]='product.id' >{{product.shortName | titlecase }}</option>
									</select>
									<p *ngIf="formErrors.channel">{{ formErrors.channel }}</p>
								</div>
								<!--.ux-input-->
							</div>
              <!--.col-6-->
						</div>
					</form>
						<!--.row-->
						<!-- <div class="row">
							<div class="col-12">
								<button class="ux-button primary" (click)="addAuditLog()">Save</button>
							</div>

						</div> -->
						<!--.row-->
						<div class="row mt-5 mt-3">
							<div class="col-6 col-lg-2 offset-lg-8">
								<button class="ux-button" (click)="cancel()">Cancel</button>
							</div>
							<div class="col-6 col-lg-2">
								<button class="ux-button primary" (click)="getTransList()">Submit</button>
							</div>
						</div>
						<!--.row-->

						<div class="row mt-3" *ngIf="transactionLists.length > 0">
							<div class="col-12 mb-0">
								<div class="datatable-box">
									<div class="table-responsive">
										<table id="dt-sample" class="table display table-hover">
											<thead>
												<tr>
													<th scope="col">Sr. No.</th>
													<th scope="col"> Transaction Amount
													</th>
													<th scope="col"> Transaction Date
													</th>
													<th scope="col"> Activity Code
													</th>
													<th scope="col"> Biller
													</th>
													<th scope="col"> RRN
													</th>
													<th scope="col"> Received By
													</th>
													<th scope="col"> Sent By
													</th>
													<th scope="col"> Mobile Number
													</th>
													<th scope="col"> CBS Reference Number
													</th>
													<th scope="col"> Requested Status
													</th>
													<th scope="col"> Status
													</th>
													<th scope="col"> Remark
													</th>
													<th scope="col"> Product Name
													</th>
													<th scope="col"> Created Date
													</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let item of transactionLists ; let i=index">
													<td>{{i+1}}</td>
													<td>{{item.txn_AMOUNT == null || item.txn_AMOUNT == '' ? '-' : item.txn_AMOUNT  }}</td>
													<td>{{item.date_OF_TXN == null || item.date_OF_TXN == '' ? '-' : item.date_OF_TXN}}</td>
													<td>{{item.activitycode == null || item.activitycode == '' ? '-' : item.activitycode}}</td>
													<td>{{item.biller == null || item.biller == '' ? '-' : item.biller }}</td>
													<td>{{item.rrnno == null || item.rrnno == '' ? '-' : item.rrnno}}</td>
													<td>{{item.customername == null || item.customername == '' ? '-' :item.customername}}</td>
													<td>{{item.sendercust == null || item.sendercust == '' ? '-' : item.sendercust}}</td>
													<td>{{item.mobile == null || item.mobile == '' ? '-' : item.mobile}}</td>
													<td>{{item.cbsrefno == null || item.cbsrefno == '' ? '-' : item.cbsrefno}}</td>
													<td>{{item.req_STATUS == null || item.req_STATUS == '' ? '-' : item.req_STATUS}}</td>
													<td>{{item.status == null || item.status == '' ? '-' : item.status}}</td>
													<td>{{item.remark == null || item.remark == '' ? '-' : item.remark}}</td>
													<td>{{item.shortname == null || item.shortname == '' ? '-' : item.shortname}}</td>
													<td>{{item.createdon == null || item.createdon == '' ? '-' : item.createdon | date: 'yyyy/MM/dd'}}</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
									<!--.table-responsivebox-->
								</div>
								<!--.datatable-box-->
							</div>

						</div>
						<!--.row-->

					</div>
				</div>
				<!--.body-page-container-->
				<!-- added new -->
			</div>
			<!--.right-col-container-->
			<!-- added new -->
		</div>
		<!--.right-main-column-->
		<!-- added new -->
	</div>
	<!--.main-->
	<!-- ===========footer section start========= -->
	<div class="sticky-actions-spacer"></div>
	<!-- ==============footer section end============ -->


</body>
