<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Add Reward Points</title>
  </head>

  <body>
    <div class="main">
      <app-navmenu></app-navmenu>
      <div class="nav-overlay"></div>
      <!--.nav-overlay-->
      <!-- navigation menu container end -->

      <div class="right-main-column">
        <div class="right-col-container full-width">
          <app-header></app-header>

          <!-- ======== body page content start from here ======== -->
          <div class="body-page-container">
            <!-- <div class="vspacer10"></div> -->
            <!--.vspacer10-->
            <div class="device-page-titles d-none d-md-none d-lg-block">
              <!-- <div class="component-title">
                <h4>{{ commonServiceCall.pageName }}</h4>
              </div> -->
              <div class="in-header d-none">
                <div class="header-icons-rit">
                  <div class="header-actions">
                    <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->
                  </div>
                  <!--.header-actions-->
                </div>
                <!--.header-icons-rit-->
              </div>
              <!-- in-header -->
            </div>
            <!-- device-page-titles -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 p-0">
                  <div class="breadcrumb">
                    <ul class="lst-breadcrumb">
                      <li>
                        <h6>{{ commonServiceCall.pageName }}</h6>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--.row -->

              <div class="main-content">
                <!-- load form -->
                <form [formGroup]="ifscEditForm">
                  <div class="row">
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>IFSC Code</label>
                        <input
                          type="text"
                          formControlName="ifsc"
                          limit-to="11"
                          placeholder="Enter ifsc code"
                        />
                        <p *ngIf="formErrors.ifsc">
                          {{ formErrors.ifsc }}
                        </p>
                        <p *ngIf="
                            ifscEditForm.get('ifsc').touched &&
                            ifscEditForm.get('ifsc').value != '' &&
                            ifscEditForm.get('ifsc').invalid
                          ">
                        * Invalid IFSC Code
                      </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Short Code</label>
                        <input
                          type="text"
                          limit-to="10"
                          formControlName="short"
                          placeholder="Enter short code"
                        />
                        <p *ngIf="formErrors.short">
                          {{ formErrors.short }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>NBIN</label>
                        <input
                          type="text"
                          limit-to="4"
                          numbersOnly
                          formControlName="nbin"
                          placeholder="Enter nbin"
                        />
                        <p *ngIf="formErrors.nbin">
                          {{ formErrors.nbin }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Bank Nmae</label>
                        <input
                          type="text"
                          limit-to="50"
                          formControlName="bank_name"
                          placeholder="Enter bank name"
                        />
                        <p *ngIf="formErrors.bank_name">
                          {{ formErrors.bank_name }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Bank Type</label>
                        <select id="sl_banktype" formControlName="banktype">
                          <option value="">Select Bank Type</option>
                          <option value="Co-operative Bank">
                            Co-operative Bank
                          </option>
                          <option value="Co-operative Bank">Co-operative Bank</option>
                          <option value="Central Bank">Central Bank</option>
                          <option value="Retail Bank">Retail Bank</option>
                          <option value="Public Sector Bank">Public Sector Bank</option>
                          <option value="Foreign Bank">Foreign Bank</option>
                          <option value="PPI">PPI</option>
                          <option value="Payment Bank">Payment Bank</option>
                          <option value="Private Bank">Private Bank</option>
                          <option value="RRB">RRB</option>
                        </select>
                        <p *ngIf="formErrors.banktype">
                          {{ formErrors.banktype }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Member Type</label>
                        <select id="sl_membertype" formControlName="membertype">
                          <option value="">Select Member Type</option>
                          <option value="Direct Member">Direct Member</option>
                          <option value="Sub Member">Sub Member</option>
                        </select>
                        <p *ngIf="formErrors.membertype">
                          {{ formErrors.membertype }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Customized IFSC</label>
                        <label class="switch">
                          <input
                            type="checkbox"
                            [checked]="isCustomizedIFSC"
                            (change)="onCustomizeStateChange($event)"
                          />
                          <span class="slider round"></span>
                        </label>
                      </div>
                      <!--.ux-input-->
                    </div>

                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Is Live</label>
                        <label class="switch">
                          <input
                            type="checkbox"
                            [checked]="isLiveFlag"
                            (change)="onIsLiveFlagChange($event)"
                          />
                          <span class="slider round"></span>
                        </label>
                      </div>
                      <!--.ux-input-->
                    </div>

                  </div>
                </form>
                <!--.row-->
                <div class="row mt-5">
                  <div class="col-6 col-lg-2 offset-lg-8">
                    <button class="ux-button" (click)="cancel()">Cancel</button>
                  </div>
                  <div class="col-6 col-lg-2">
                    <button class="ux-button primary" (click)="editIFSCCode()">
                      Update
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--.container-->
          </div>
          <!--.body-page-container-->
          <!-- added new -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column-->
      <!-- added new -->
    </div>
    <!--.main-->
    <!-- ===========footer section start========= -->
    <div class="sticky-actions-spacer"></div>
    <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
      <div class="tinymodal-overlay"></div>
      <!--.tinymodal-overlay-->

      <!--.tinymodal-->
    </div>
    <!-- ==============footer section end============ -->

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
