#progress {
  margin: 5px 50px;
}
#progress span, #progress div {
  float: left;
}
#progress span {
  margin: 0 5px;
}
#bar {
  height: 10px;
}
.medium {
  width: 75%;
  background-color: orange;
}
.bad {
  width: 25%;
  background-color: red;
}
.strong {
  width: 100%;
  background-color: green;
}
.normal {
  width: 50%;
  background-color: yellow;
}

#passstrength {
  border: 1px solid #AAA;
  width: 145px;
  height: 10px;
  float: left;
  width: 123%;
  margin-left: -49px;
}
