<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Donation</title>

</head>

<body>

	<div class="main">
		<app-navmenu></app-navmenu>
		<div class="nav-overlay"></div>
		<!--.nav-overlay-->
		<!-- navigation menu container end -->

		<div class="right-main-column">
			<div class="right-col-container full-width">
				<!-- ======== header section start ========== -->
				<app-header></app-header>
				<!-- ======== header section end ========== -->
				<!-- ======== body page content start from here ======== -->
				<div class="body-page-container">
					<!-- <div class="vspacer10"></div> -->
					<!--.vspacer10-->
					<div class="device-page-titles d-none d-md-none d-lg-block">
						<div class="in-header d-none">
							<div class="header-icons-rit">
								<div class="header-actions">
								</div>
								<!--.header-actions-->
							</div>
							<!--.header-icons-rit-->
						</div> <!-- in-header -->
					</div> <!-- device-page-titles -->
					<div class="container-fluid">

						<div class="row">
							<div class="col-12 p-0">
								<div class="breadcrumb">
									<ul class="lst-breadcrumb">
										<li>
											<h6>{{ commonServiceCall.pageName }}</h6>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!--.row -->

						<div class="main-content">
							<!-- load form -->
							<form [formGroup]="corporateDonationForm">
								<div class="row">

									<div class="col-6">
										<div class="ux-input input-error">
											<label>Trust Name</label>
											<input type="text" formControlName="companyName"
												placeholder="Enter Trust Name" limit-to="50">
											<p *ngIf="formErrors.companyName">{{ formErrors.companyName }}</p>
											<p
												*ngIf="corporateDonationForm.get('companyName').touched && corporateDonationForm.get('companyName').value != '' && corporateDonationForm.get('companyName').invalid">
												* Invalid trust name</p>
										</div>
										<!--.ux-input-->
									</div>
									<!--.col-12-->
									<div class="col-6">
										<div class="ux-input input-error">
											<label>Account Number</label>
											<input type="text" formControlName="accNo"
												placeholder="Enter Account Number" limit-to="14">
											<p *ngIf="formErrors.accNo">{{ formErrors.accNo }}</p>
											<p
												*ngIf="corporateDonationForm.get('accNo').touched && corporateDonationForm.get('accNo').value != '' && corporateDonationForm.get('accNo').invalid">
												* Invalid Account Number</p>
										</div>
										<!--.ux-input-->
									</div>
									<!--.col-12-->
									<div class="col-6">
										<div class="ux-input input-error">
											<label>Banking Type</label>
                      <select id="sl_type" formControlName="type">
                        <option value="">Select Banking Type</option>
                        <option value="CORPORATE">Corporate</option>
                      </select>
											<p *ngIf="formErrors.type">{{ formErrors.type }}</p>
										</div>
										<!--.ux-input-->
									</div>
									<!--.col-12-->
									<div class="col-6">
										<div class="ux-input input-error">
											<label>Status</label>
											<select id="sl_Status" formControlName="status">
												<option value="">Select Status</option>
												<option *ngFor="let item of filterStatus(); index as i"
													[value]='item.id'>{{item.shortName | titlecase }}</option>
											</select>
											<p *ngIf="formErrors.status">{{ formErrors.status }}</p>
										</div>
									</div>
									<!--.col-12-->

								</div>


							</form>
							<!--.row-->
							<div class="row mt-5">
								<!--.col-xs-12-->
								<div class="col-6 col-lg-2 offset-lg-8">
									<button class="ux-button" (click)="cancel()">Cancel</button>
								</div>
								<div class="col-6 col-lg-2"
									*ngIf="this.commonData.roleType != this.commonData.corpMakerRole">
									<button class="ux-button primary" (click)="addMaster()">Save</button>
								</div>
								<div *ngIf="this.commonData.roleType == this.commonData.corpMakerRole"
									class="col-6 col-lg-2">
									<button class="ux-button primary"
										(click)="openActionModel('remarkField', corporateDonationForm.value)">
										Save
									</button>
								</div>
							</div>
							<!--.row-->

							<div class="row mt-5" *ngIf="priviledgeDataArr.viewChecked">
								<div class="col-6 col-lg-2"></div>
								<div class="col-6 col-lg-2 offset-lg-8">
									<button class="ux-button" (click)="cancelClick()">Cancel</button>
								</div>
							</div>
						</div>

					</div>
					<!--.container-->
				</div>
				<!--.body-page-container-->
				<!-- added new -->
			</div>
			<!--.right-col-container-->
			<!-- added new -->
		</div>
		<!--.right-main-column-->
		<!-- added new -->
	</div>
	<!--.main-->
	<!-- ===========footer section start========= -->
	<div class="sticky-actions-spacer"></div>
	<div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
		<div class="tinymodal-overlay"></div>
		<!--.tinymodal-overlay-->
		<div class="tinymodal">

			<div *ngIf="selModel === 'remarkField'" class="tinymodal-content">
				<form [formGroup]="remarkForm">
					<div class="row">
						<div class="col-12 px-0 mt-2">
							<div class="ux-input input-error">
								<textarea formControlName="remark" placeholder="Enter Remark"></textarea>
								<p *ngIf="formErrors.remark">{{ formErrors.remark }}</p>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-6">
							<button class="ux-button" (click)="closeActionMoel()">Cancel</button>
						</div>
						<div class="col-6">
							<button class="ux-button primary"
								(click)="addDonationWithRemark(remarkForm.value)">OK</button>
						</div>
						<!--.col-xs-12-->
					</div>
				</form>
			</div>
			<!--.tinymodal-content-->
		</div>
		<!--.tinymodal-->
	</div>
	<!-- ==============footer section end============ -->

	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/common.js"></script>


</body>
