<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Change Password</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <!-- ======== header section start ========== -->
        <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->
            <div class="main-content">
              <!-- load form -->
              <form [formGroup]="calculatorAddFormula">
                <div class="row">
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Calculator Name</label>
                      <select formControlName="calculatorType" (change)="onCalcNameSelect($event)">
                        <option value="">Select Calculator Name</option>
                        <option *ngFor="let calc of calculatorName; index as i" [value]="calc.id">
                          {{ calc.calculatorName | titlecase }}
                        </option>
                      </select>
                      <p *ngIf="formErrors.calculatorType">
                        {{ formErrors.calculatorType }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Calculator Formula</label>
                      <input type="textarea" limit-to="200" formControlName="calculatorFormula"
                        placeholder="Enter Calculator Formula" />
                      <p *ngIf="formErrors.calculatorFormula">
                        {{ formErrors.calculatorFormula }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Rate Charges</label>
                      <input type="text" limit-to="5" formControlName="rateCharges" placeholder="Enter Rate Charges" />
                      <p *ngIf="formErrors.rateCharges">
                        {{ formErrors.rateCharges }}
                      </p>
                      <p *ngIf="
                            calculatorAddFormula.get('rateCharges').touched &&
                            calculatorAddFormula.get('rateCharges').invalid &&
                            calculatorAddFormula.get('rateCharges').value != ''
                          ">
                        * Invalid rate charges
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Status</label>
                      <select formControlName="statusId">
                        <option value="">Select Status</option>
                        <option *ngFor="let status of filterStatus(); index as i" [value]="status.id">
                          {{ status.shortName | titlecase }}
                        </option>
                      </select>
                      <p *ngIf="formErrors.statusId">
                        {{ formErrors.statusId }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Channel Name</label>
                      <select formControlName="productType">
                        <option value="">Select Channel Name</option>
                        <option *ngFor="let product of this.productTypes; index as i" [value]="product.id">
                          {{ product.shortName | titlecase }}
                        </option>
                      </select>
                      <p *ngIf="formErrors.productType">
                        {{ formErrors.productType }}
                      </p>
                    </div>
                  </div>
                  <!--.col-12-->
                </div>
              </form>
              <!--.row-->
              <div class="row mt-5">
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <div *ngIf="this.commonDataShareService.roleType == this.commonDataShareService.makerRole"
                  class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="
                        openActionModel(
                          'remarkField',
                          calculatorAddFormula.value
                        )
                      ">
                    Save
                  </button>
                </div>

                <div *ngIf="this.commonDataShareService.roleType != this.commonDataShareService.makerRole"
                  class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="addCalculatorFormula()">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
    <div class="tinymodal-overlay"></div>
    <!--.tinymodal-overlay-->
    <div class="tinymodal">
      <div *ngIf="selModel === 'remarkField'" class="tinymodal-content">
        <form [formGroup]="remarkForm">
          <div class="row">
            <div class="col-12 px-0 mt-2">
              <div class="ux-input input-error">
                <textarea formControlName="remark" placeholder="Enter Remark"></textarea>
                <p *ngIf="formErrors.remark">{{ formErrors.remark }}</p>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6">
              <button class="ux-button" (click)="closeActionMoel()">
                Cancel
              </button>
            </div>
            <div class="col-6">
              <button class="ux-button primary" (click)="addCalculatorFormulaWithRemark(remarkForm.value)">
                OK
              </button>
            </div>
            <!--.col-xs-12-->
          </div>
        </form>
      </div>
      <!--.tinymodal-content-->
    </div>
    <!--.tinymodal-->
  </div>
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>