<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Customers Details</title>
  </head>

  <body>
    <div class="main">
      <app-navmenu></app-navmenu>
      <div class="nav-overlay"></div>
      <!--.nav-overlay-->
      <!-- navigation menu container end -->

      <div class="right-main-column">
        <div class="right-col-container">
          <app-header></app-header>
          <!-- ======== body page content start from here ======== -->
          <div class="body-page-container">
            <div class="vspacer10"></div>
            <!--.vspacer10-->
            <div class="device-page-titles d-none d-md-none d-lg-block">
              <div class="component-title">
                <h4>{{ commonServiceCall.pageName }}</h4>
              </div>
              <div class="in-header d-none">
                <div class="header-icons-rit">
                  <div class="header-actions">
                    <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->
                  </div>
                  <!--.header-actions-->
                </div>
                <!--.header-icons-rit-->
              </div>
              <!-- in-header -->
            </div>
            <!-- device-page-titles -->
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <form [formGroup]="bulkOfferForm">
                    <div class="ux-input">
                      <div class="file-input">
                        <input
                          type="file"
                          style="width: 100%; height: 100%; z-index: 100"
                          name="bulkCustomerFile"
                          (change)="addExcelFile($event)"
                        />
                        <label for="file-sample">
                          <h4>Upload Excel File</h4>
                          <img *ngIf="showSuccess" style="height:20px"src='../../assets/images/icons/ic-tick.png'>
                        </label>
                      </div>
                    </div>
                    <div class="ux-input input-error">
                      <p *ngIf="isUploadExcel">* Please upload excel file</p>
                      <p *ngIf="isValidFileFormat">
                        * Please upload valid excel file
                      </p>
                    </div>
                  </form>
                </div>
                <div
                  class="col-6 offset-lg-4 offset-6 col-lg-2"
                  style="margin-top: 20px"
                >
                  <button class="ux-button primary" (click)="upload()">
                    Process
                  </button>
                </div>
              </div>
            </div>
            <!--.container-->
          </div>
          <!--.body-page-container-->
          <!-- added new -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column-->
      <!-- added new -->
    </div>
    <!--.main-->
    <!-- ===========footer section start========= -->
    <div class="sticky-actions-spacer"></div>
    <!--.footer-container-->
    <!-- ==============footer section end============ -->

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
