<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Change Password</title>
  </head>

  <body>
    <div class="main">
      <app-navmenu></app-navmenu>
      <div class="nav-overlay"></div>
      <!--.nav-overlay-->
      <!-- navigation menu container end -->

      <div class="right-main-column">
        <div class="right-col-container full-width">
          <!-- ======== header section start ========== -->
          <app-header></app-header>
          <!-- ======== header section end ========== -->
          <!-- ======== body page content start from here ======== -->
          <div class="body-page-container">
            <!-- <div class="vspacer10"></div> -->
            <!--.vspacer10-->
            <div class="device-page-titles d-none d-md-none d-lg-block">
              <!-- <div class="component-title">
                <h4>{{ commonServiceCall.pageName }}</h4>
              </div> -->
              <div class="in-header d-none">
                <div class="header-icons-rit">
                  <div class="header-actions">
                    <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->
                  </div>
                  <!--.header-actions-->
                </div>
                <!--.header-icons-rit-->
              </div>
              <!-- in-header -->
            </div>
            <!-- device-page-titles -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 p-0">
                  <div class="breadcrumb">
                    <ul class="lst-breadcrumb">
                      <li>
                        <h6>{{ commonServiceCall.pageName }}</h6>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--.row -->

              <div class="main-content">
                <div class="row">
                  <div class="col-6 offset-lg-10 offset-6 col-lg-2">
                    <button
                      class="ux-button primary"
                      (click)="gotoAddDocumentList()"
                    >
                      + Add
                    </button>
                  </div>
                </div>
                <div class="vspacer20"></div>
                <div class="row mt-3">
                  <div class="col-12 mb-0">
                    <div class="datatable-box">
                      <div class="table-responsive">
                        <table id="dt-sample" class="table display table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Sr. No.</th>
                              <th scope="col">Document Name</th>
                              <th scope="col">Status</th>
                              <th scope="col">Created On</th>
                              <th scope="col" class="notexport">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let menu of documentTypeArr;
                                let i = index
                              "
                            >
                              <td>{{ i + 1 }}</td>
                              <td>
                                {{
                                  menu.documentName == null ||
                                  menu.documentName == ""
                                    ? "-"
                                    : menu.documentName
                                }}
                              </td>
                              <td>
                                {{
                                  menu.statusName == null ||
                                  menu.statusName == ""
                                    ? "-"
                                    : menu.statusName
                                }}
                              </td>
                              <td>{{ menu.createdOn | date: "yyyy-MM-dd" }}</td>
                              <td>
                                <img
                                  class="action-btn"
                                  src="assets/images/icons/edit.png"
                                  (click)="gotoEditDocumentList(menu)"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!--.table-responsivebox-->
                    </div>
                    <!--.datatable-box-->

                    <div
                      class="dt-extras mt-4"
                      *ngIf="documentTypeArr.length > 0"
                    >
                      <div class="dt-exports">
                        <em>Export to :<span class="chevron"></span></em>
                        <button
                          class="linkbutton exp-excel"
                          (click)="commonMethod.downLoadFile('excel')"
                        >
                          Excel <b>(.xlsx)</b>
                        </button>
                        <button
                          class="linkbutton exp-pdf"
                          (click)="commonMethod.downLoadFile('pdf')"
                        >
                          Pdf <b>(.pdf)</b>
                        </button>
                        <!-- <button class="linkbutton exp-word" (click)="wordDownload()">word <b>(.docx)</b></button> -->
                        <!-- <button class="linkbutton exp-xml">XML <b>(.xml)</b></button> -->
                        <button
                          class="linkbutton exp-csv"
                          (click)="commonMethod.downLoadFile('csv')"
                        >
                          csv <b>(.csv)</b>
                        </button>
                      </div>
                      <!--.dt-exports-->
                    </div>
                  </div>
                </div>
                <div class="row mt-5">
                  <div class="col-6 col-lg-2"></div>
                  <div class="col-6 col-lg-2 offset-lg-8">
                    <button class="ux-button" (click)="cancelClick()">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!--.container-->
          </div>
          <!--.body-page-container-->
          <!-- added new -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column-->
      <!-- added new -->
    </div>
    <!--.main-->
    <!-- ===========footer section start========= -->
    <div class="sticky-actions-spacer"></div>
    <!-- ==============footer section end============ -->

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
