<!DOCTYPE html>
<div lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Add Survey Question And Answer</title>

	</head>

	<body>
		<div class="main">
			<!-- navigation menu container start -->
			<app-navmenu></app-navmenu>
			<div class="nav-overlay"></div>
			<!--.nav-overlay-->
			<!-- navigation menu container end -->
			<div class="right-main-column">
				<div class="right-col-container full-width">
					<app-header></app-header>
					<!-- ======== body page content start from here ======== -->
					<div class="body-page-container">
						<div class="vspacer10"></div>
						<!--.vspacer10-->
						<div class="device-page-titles d-none d-md-none d-lg-block">
							<div class="in-header">
								<div class="header-icons-lft">
									<div class="header-actions">
										<div class="head-page-title">
											<h5>Edit Announcement Question And Answer</h5>
										</div>
									</div>
									<!--.header-actions-->
								</div>
								<!--.header-icons-lft-->
								<div class="header-icons-rit">
									<div class="header-actions">
										<!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->
									</div>
									<!--.header-actions-->
								</div>
								<!--.header-icons-rit-->
							</div> <!-- in-header -->
						</div> <!-- device-page-titles -->
						<!-- ========== body section start ========= -->
						<div class="container">


                            <!-- load form -->
						<form [formGroup]="surveyAddQuestionForm">
							<div class="row">

								<div class="col-6">
									<div class="ux-input input-error">
										<label>Question</label>
                                        <input type="text" limit-to="30" formControlName="question" placeholder="Enter Question" >
                                        <p *ngIf="formErrors.question">{{ formErrors.question }}</p>
									</div>
								</div>
								<div class="col-6"></div>
								<div class="col-6">
									<div class="ux-input input-error">
										<label>Option 1</label>
										<input type="text" limit-to="40" formControlName="answer1" placeholder="Enter Option 1" >
										<p *ngIf="formErrors.answer1">{{ formErrors.answer1 }}</p>
									</div>
                                </div>
                                <div class="col-6">
									<div class="ux-input input-error">
										<label>Option 2</label>
										<input type="text" limit-to="40" formControlName="answer2" placeholder="Enter Option 2" >
										<p *ngIf="formErrors.answer2">{{ formErrors.answer2 }}</p>
									</div>
                                </div>
                                <div class="col-6">
									<div class="ux-input input-error">
										<label>Option 3</label>
										<input type="text" limit-to="40" formControlName="answer3" placeholder="Enter Option 3" >
										<p *ngIf="formErrors.answer3">{{ formErrors.answer3 }}</p>
									</div>
                                </div>
                                <div class="col-6">
									<div class="ux-input input-error">
										<label>Option 4</label>
										<input type="text" limit-to="40" formControlName="answer4" placeholder="Enter Option 4" >
										<p *ngIf="formErrors.answer4">{{ formErrors.answer4 }}</p>
									</div>
                                </div>
                                <div class="col-6">
									<div class="ux-input input-error">
										<label>Status</label>
										<select formControlName="statusId" >
                                            <option value="">Select Status</option>
                                            <option *ngFor="let item of filterStatus(); let i = index" value="{{item.id}}" >{{item.shortName | titlecase }}</option>
                                          </select>
										<p *ngIf="formErrors.statusId">{{ formErrors.statusId }}</p>
									</div>
								</div>
							</div>
						</form>
						<div class="row mt-5">
							<div class="col-6 col-lg-2 offset-lg-8">
								<button class="ux-button" (click)="cancel()">Cancel</button>
							</div>
							<div class="col-6 col-lg-2">
								<button class="ux-button primary" (click)="updateSurveyQuesAns()">Update</button>
							</div>
							<!--.col-xs-12-->
						</div>
						<!--.row-->




						</div>
						<!--.container-->
					</div>
					<!--.body-page-container-->
					<!-- added new -->
				</div>
				<!--.right-col-container-->
				<!-- added new -->
			</div>
			<!--.right-main-column-->
			<!-- added new -->
		</div>
		<!--.main-->
		<div class="vspacer20"></div>
		<!--.vspacer20-->
		<!-- ===========footer section start========= -->
		<div class="footer-container sticky-actions">
			<div class="footer-inactions">
				<div class="container">
					<div class="row">

					</div>
					<!--.row-->
				</div>
				<!--.container-->
			</div> <!-- footer-inactions -->
		</div>
		<!--.footer-container-->
		<div class="sticky-actions-spacer"></div>
		<!-- ==============footer section end============ -->
		<div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
			<div class="tinymodal-overlay"></div>
			<!--.tinymodal-overlay-->
			<div class="tinymodal">
				<div class="tinymodal-content">
					<div class="row">
						<div class="col-12 tinymodal-header">
							<div>
								<button type="button" class="close" (click)="closeActionModel()">
									<span> <img src="assets/images/icons/cross.png"></span>
								</button>
								<!--.tinymodal-info-->
							</div>
						</div>
					</div>
				</div>
				<!--.tinymodal-content-->
			</div>
			<!--.tinymodal-->
		</div>


		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/common.js"></script>


	</body>
