<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Services</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <app-header></app-header>
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->

            <div class="main-content">
              <div *ngIf="priviledgeDataArr.viewChecked" class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="ux-input">
                    <select (change)="stateChange($event)">
                      <option value="">Select Status</option>
                      <option value="22">All Services</option>
                      <option *ngFor="let item of filterStatus(); let i = index" value="{{ item.id }}">
                        {{ item.shortName | titlecase }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row mt-3" *ngIf="userData.length > 0">
                <div class="col-12 mb-0">
                  <div class="datatable-box">
                    <div class="table-responsive">
                      <table id="dt-sample" class="table display table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Sr.No.</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Email Id</th>
                            <th scope="col">Mobile Number</th>
                            <th scope="col">Channel Name</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">RRN</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Status</th>
                            <th *ngIf="priviledgeDataArr.updateChecked" scope="col">
                              Action
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of userData; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>
                              {{
                                  item.customername == null ||
                                  item.customername == ""
                                    ? "-"
                                    : item.customername
                                }}
                            </td>
                            <td>
                              {{
                                  item.email == null || item.email == ""
                                    ? "-"
                                    : item.email
                                }}
                            </td>
                            <td>
                              {{
                                  item.mobileofcust == null ||
                                  item.mobileofcust == ""
                                    ? "-"
                                    : item.mobileofcust
                                }}
                            </td>
                            <td>
                              {{
                                  item.shortname == null || item.shortname == ""
                                    ? "-"
                                    : item.shortname
                                }}
                            </td>
                            <td>
                              {{
                                  item.categoryname == null ||
                                  item.categoryname == ""
                                    ? "-"
                                    : item.categoryname
                                }}
                            </td>
                            <td>
                              {{
                                  item.description == null ||
                                  item.description == ""
                                    ? "-"
                                    : item.description
                                }}
                            </td>
                            <td>
                              {{
                                  item.resolution == null || item.resolution == ""
                                    ? "-"
                                    : item.resolution
                                }}
                            </td>
                            <td>
                              {{
                                  item.createdon == null || item.createdon == ""
                                    ? "-"
                                    : (item.createdon | date: "yyyy/MM/dd")
                                }}
                            </td>
                            <td>
                              {{
                                  item.statusname == null || item.statusname == ""
                                    ? "-"
                                    : item.statusname
                                }}
                            </td>
                            <td *ngIf="priviledgeDataArr.updateChecked">
                              <div class="ux-selection">
                                <img class="action-btn" src="assets/images/icons/edit.png" (click)="onEdit(item)" />
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                    </div>
                    <!--.table-responsivebox-->
                  </div>
                  <!--.datatable-box-->
                  <div class="dt-extras mt-4" *ngIf="userData.length > 0">
                    <div class="dt-exports">
                      <em>Export to :<span class="chevron"></span></em>
                      <button class="linkbutton exp-excel" (click)="commonMethod.downLoadFile('excel')">
                        Excel <b>(.xlsx)</b>
                      </button>
                      <button class="linkbutton exp-pdf" (click)="commonMethod.downLoadFile('pdf')">
                        Pdf <b>(.pdf)</b>
                      </button>
                      <button class="linkbutton exp-csv" (click)="commonMethod.downLoadFile('csv')">
                        csv <b>(.csv)</b>
                      </button>
                    </div>
                    <!--.dt-exports-->
                  </div>
                </div>
              </div>
              <div *ngIf="priviledgeDataArr.viewChecked" class="row mt-5">
                <div class="col-6 col-lg-2"></div>
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancelClick()">
                    Cancel
                  </button>
                </div>
              </div>
            </div>

            <!-- <div>
            </div> -->
            <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <div class="footer-container sticky-actions">
    <div class="footer-inactions">
      <div class="container">
      </div>
      <!--.container-->
    </div>
    <!-- footer-inactions -->
  </div>
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>