<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Add New User</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <!-- ======== header section start ========== -->
        <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->
            <div class="main-content">
              <!-- load form -->
              <form [formGroup]="addUserForm">
                <div class="row">
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>User Id</label>
                      <input type="text" (keypress)="alphaNumericOnly($event)" formControlName="userId" limit-to="20" placeholder="Enter User Id" />
                      <p *ngIf="formErrors.userId">{{ formErrors.userId }}</p>
                      <p *ngIf="
                            addUserForm.get('userId').touched &&
                            addUserForm.get('userId').value != '' &&
                            addUserForm.get('userId').invalid
                          ">
                        * Invalid User Id
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->

                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>First Name</label>
                      <input type="text" formControlName="fname" placeholder="Enter First Name" limit-to="40"
                        alphabetsOnly />
                      <p *ngIf="formErrors.fname">{{ formErrors.fname }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->

                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Last Name</label>
                      <input type="text" formControlName="lname" placeholder="Enter Last Name" limit-to="40"
                        alphabetsOnly />
                      <p *ngIf="formErrors.lname">{{ formErrors.lname }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->

                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Email Id</label>
                      <input type="text" limit-to="50" formControlName="emailId" placeholder="Enter Email Id" />
                      <p *ngIf="formErrors.emailId">
                        {{ formErrors.emailId }}
                      </p>
                      <p *ngIf="
                            addUserForm.get('emailId').touched &&
                            addUserForm.get('emailId').invalid &&
                            addUserForm.get('emailId').value != ''
                          ">
                        * The email address is invalid
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Mobile Number</label>
                      <input type="tel" limit-to="10" numbersOnly formControlName="phoneNo"
                        placeholder="Enter Mobile Number" />
                      <p *ngIf="formErrors.phoneNo">
                        {{ formErrors.phoneNo }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Role</label>
                      <select formControlName="productType">
                        <option value="">Select Role</option>
                        <option *ngFor="let item of roles; index as i" [value]="item.id">
                          {{ item.name | titlecase }}
                        </option>
                      </select>
                      <p *ngIf="formErrors.productType">
                        {{ formErrors.productType }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>

                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label><span class="mandatory">* </span>Login Type</label>
                      <select formControlName="userType">
                        <option value="">Select Login Type</option>
                        <option value="OMNI">Omni</option>
                        <option value="AD">Active Directory</option>
                      </select>
                      <p *ngIf="formErrors.userType">
                        {{ formErrors.userType }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-12 col-md-6 col-lg-6">
                    <div class="row">
                      <div class="col-12">
                        <div class="ux-input">
                          <div class="file-input input-error">
                            <input type="file" style="width: 100%; height: 100%; z-index: 100" #smallImg name="smallImage"
                              (change)="addImage($event, 'small')" />
                            <label for="file-sample">
                              <h4>Upload Profile Image</h4>
                              <p>
                                Note: Please upload 128px * 80px dimensions
                                image
                              </p>
                              <!-- <p>Upload File To See Records</p> -->
                            </label>
                          </div>
                        </div>
                        <!--.ux-input-->
                        <div class="ux-input input-error">
                          <!-- <p *ngIf="isSmallImgError">
                            * Please upload profile image
                          </p> -->
                          <p *ngIf="isValidSmallFileFormat">
                            * Please upload png or jpeg file
                          </p>
                          <p *ngIf="isValidSmallSizeFileFormat">
                            * Please upload 128px * 80px dimensions image
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12" *ngIf="smallImage != '' && smallImage != undefined">
                      <div class="img-uploaded">
                        <div class="edit-prof">
                          <a href="javascript:;">
                            <i class="fa fa-times-circle fa-lg remove-doc">
                              <input
                                style="
                                  position: absolute;
                                  opacity: 0;
                                  margin: auto;
                                  right: 0;
                                  left: 0;
                                  cursor: pointer;
                                "
                                (click)="onImgDelete()"
                              />
                            </i>
                          </a>
                        </div>
                        <img src="{{ smallImage }}" />
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <!--.row-->
              <div class="row mt-3">
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="add()">
                    Save
                  </button>
                </div>
                <!--.col-xs-12-->
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>
