<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Loan</title>

</head>

<body>

  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
       <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <div class="vspacer10"></div>
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header">
              <div class="header-icons-lft">
                <div class="header-actions">

                  <div class="head-page-title">
                    <h5>Loan</h5>
                  </div>
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-lft-->
              <div class="header-icons-rit">
                <div class="header-actions">
                  <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->

                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div> <!-- in-header -->
          </div> <!-- device-page-titles -->
          <div class="container">

            <!-- load form -->
            <form>
              <div class="row">
                    <div class="col-6">
                      <div class="ux-input">
                        <label>Loan Type</label>
                        <input type="text" placeholder="Enter Loan Type">
                      </div>
                      <!--.ux-input-->
                    </div>
              </div>
              <!--.row-->
              <div class="row">
                <div class="col-6">
                  <div class="ux-input">
                    <label>Minimum Amount</label>
                    <input type="text" placeholder="Enter Minimum Amount">
                  </div>
                  <!--.ux-input-->
                </div>
                <div class="col-6">
                  <div class="ux-input">
                    <label>Maximum Amount</label>
                    <input type="text" placeholder="Enter Maximum Amount">
                  </div>
                  <!--.ux-input-->
                </div>
              </div>
              <!--.row-->
              <div class="row">
                <div class="col-6">
                  <div class="ux-input">
                    <label>Minimum INTEREST RATE (% P.A.)</label>
                    <input type="text" placeholder="Enter INTEREST RATE">
                  </div>
                  <!--.ux-input-->
                </div>
                <div class="col-6">
                  <div class="ux-input">
                    <label>Maximum INTEREST RATE (% P.A.)</label>
                    <input type="text" placeholder="Enter INTEREST RATE">
                  </div>
                  <!--.ux-input-->
                </div>
              </div>
              <!--.row-->
              <div class="row">
                <div class="col-6">
                  <div class="ux-input">
                    <label>Minimum TENURE (YEARS)</label>
                    <input type="text" placeholder="Enter TENURE (YEARS)">
                  </div>
                  <!--.ux-input-->
                </div>
                <div class="col-6">
                  <div class="ux-input">
                    <label>Maximum TENURE (YEARS)</label>
                    <input type="text" placeholder="Enter TENURE (YEARS)">
                  </div>
                  <!--.ux-input-->
                </div>
              </div>
              <!--.row-->
            </form>

            <div class="row mb-5 mt-3">
              <div class="col-6 col-lg-2 offset-lg-8">
                <button class="ux-button">Cancel</button>
              </div>
              <div class="col-6 col-lg-2">
                <button class="ux-button primary">Save</button>
              </div>
              <!--.col-xs-12-->
            </div>


          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <!-- ==============footer section end============ -->



</body>
