<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Change Password</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!-----.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <!-- ======== header section start ========== -->
        <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->
            <div class="main-content">
              <div class="row">
                <div class="col-12 col-md-6"></div>
                <div class="col-12 col-md-6">
                  <div class="ux-input">
                    <label>Date</label>
                    <input id="dateRangeInput" type="text" name="daterangeInput" daterangepicker [options]="options"
                      (selected)="selectedDate1($event, daterange)" />
                    <a href="javascript:;" class="calendar-ic cal-top" daterangepicker [options]="options"
                      (selected)="selectedDate1($event, daterange)"></a>
                  </div>
                </div>
              </div>
              <div class="vspacer20"></div>
              <div class="ux-nav-tabs" *ngIf="activityLogMaster.length > 0">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                  <li class="nav-item" (click)="activityTabClicked()">
                    <a class="nav-link account-details" data-toggle="tab" href="#role"
                      [ngClass]="{ active: tabselected == 'activity' }">Tabular View</a>
                  </li>
                  <li class="nav-item" (click)="reportTabClicked()">
                    <a class="nav-link recent-trans" data-toggle="tab" href="#user"
                      [ngClass]="{ active: tabselected == 'report' }">Graphical View</a>
                  </li>
                </ul>
              </div>
              <div *ngIf="activityLogMaster.length > 0" class="row mt-3">
                <div class="col-12 mb-0" id="activity" [ngClass]="tabselected == 'activity' ? 'active' : 'fade'">
                  <div class="datatable-box">
                    <div class="table-responsive">
                      <table id="dt-sample" class="table display table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Activity Name</th>
                            <th scope="col">Activity Date</th>
                            <th scope="col">Hours</th>
                            <th scope="col">Recount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                                let item of activityLogMaster;
                                let i = index
                              ">
                            <td>{{ i + 1 }}</td>
                            <td>
                              {{
                                  item.activityName == null ||
                                  item.activityName == ""
                                    ? "-"
                                    : item.activityName
                                }}
                            </td>
                            <td>
                              {{
                                  item.activityDate == null || item.activityDate == ""
                                    ? "-"
                                    : (item.activityDate | date: "dd-MMM-yyyy")
                                }}
                            </td>
                            <td>
                              {{
                                  item.activityHour == null || item.activityHour == ""
                                    ? "-"
                                    : item.activityHour
                                }}
                            </td>
                            <td>
                              {{
                                  item.recCount == null || item.recCount == ""
                                    ? "-"
                                    : item.recCount
                                }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--.table-responsivebox-->
                  </div>
                  <!--.datatable-box-->

                  <div class="dt-extras mt-4" *ngIf="activityLogMaster.length > 0">
                    <div class="dt-exports">
                      <em>Export to :<span class="chevron"></span></em>
                      <button class="linkbutton exp-excel" (click)="commonMethod.downLoadFile('excel')">
                        Excel <b>(.xlsx)</b>
                      </button>
                      <button class="linkbutton exp-pdf" (click)="commonMethod.downLoadFile('pdf')">
                        Pdf <b>(.pdf)</b>
                      </button>
                      <button class="linkbutton exp-csv" (click)="commonMethod.downLoadFile('csv')">
                        csv <b>(.csv)</b>
                      </button>
                    </div>
                    <!--.dt-exports-->
                  </div>

                  <div class="row mt-5">
                    <div class="col-6 col-lg-2"></div>
                    <div class="col-6 col-lg-2 offset-lg-8">
                      <button class="ux-button" (click)="cancelClick()">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
                <div [ngClass]="tabselected == 'report' ? 'active' : 'fade'" id="report" style="    float: right;
                position: absolute;
                right: 20px;">
                  <img class="my_image" style="height: 50px;
                  width: 50px;"
                    src="assets/images/icons/fullscreen.png" (click)="getGraph()"/>
                </div>
                <canvas id="myBarChart" style=""></canvas>
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>