<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Reward Points Details</title>
  </head>

  <body>
    <div class="main">
      <app-navmenu></app-navmenu>
      <div class="nav-overlay"></div>
      <!--.nav-overlay-->
      <!-- navigation menu container end -->

      <div class="right-main-column">
        <div class="right-col-container full-width">
          <app-header></app-header>
          <!-- ======== body page content start from here ======== -->
          <div class="body-page-container">
            <div class="vspacer10"></div>
            <!--.vspacer10-->
            <div class="device-page-titles d-none d-md-none d-lg-block">
              <div class="component-title">
                <h4>{{ commonServiceCall.pageName }}</h4>
              </div>
              <div class="in-header d-none">
                <!-- <div class="header-icons-lft">
								<div class="header-actions">

									<div class="head-page-title">
										<h5>Reward Points Details</h5>
									</div>
								</div>
							</div> -->
                <div class="header-icons-rit">
                  <div class="header-actions">
                    <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->
                  </div>
                  <!--.header-actions-->
                </div>
                <!--.header-icons-rit-->
              </div>
              <!-- in-header -->
            </div>
            <!-- device-page-titles -->
            <div class="container">
              <!-- load form -->
              <form [formGroup]="transFeeEditForm">
                <div class="row">
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Version</label>
                      <input
                        type="text"
                        formControlName="version"
                        placeholder="Enter version"
                      />
                      <p *ngIf="formErrors.version">
                        {{ formErrors.version }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Target ACC</label>
                      <input
                        type="text"
                        formControlName="acc"
                        placeholder="Enter acc"
                      />
                      <p *ngIf="formErrors.acc">
                        {{ formErrors.acc }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6">
                    <div class="ux-input input-error">
                        <label>Transaction Type</label>
                        <select id="sl_transtype" formControlName="transtype">
                        <option value="">Select Transaction Type</option>
                            <option value="Y">P2P - Format 45 Outward</option>
                            <option value="N">No</option>
                        </select>
                        <p *ngIf="formErrors.transtype">{{ formErrors.transtype }}</p>
                    </div>
                    <!--.ux-input-->
                </div>
                </div>
              </form>
              <!--.row-->

              <div class="row mt-5">
                <div class="col-6 col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="update()">
                    Update
                  </button>
                </div>
              </div>
              <!--.row-->

            </div>
            <!--.container-->
          </div>
          <!--.body-page-container-->
          <!-- added new -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column-->
      <!-- added new -->
    </div>
    <!--.main-->
      <!-- ===========footer section start========= -->
	 <div class="sticky-actions-spacer"></div>
	 <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
	   <div class="tinymodal-overlay"></div>
	   <!--.tinymodal-overlay-->

	   <!--.tinymodal-->
	 </div>
	 <!-- ==============footer section end============ -->


    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
