<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Agent Money Reconcilation</title>

	</head>

<body>

	<div class="main">
		<app-navmenu></app-navmenu>
		<div class="nav-overlay"></div><!--.nav-overlay-->
		<!-- navigation menu container end -->

		<div class="right-main-column">
			<div class="right-col-container full-width">
				<!-- ======== header section start ========== -->
				<app-header></app-header>
				<!-- ======== header section end ========== -->
				<!-- ======== body page content start from here ======== -->
				<div class="body-page-container">
					<div class="vspacer10"></div><!--.vspacer10-->
					<div class="device-page-titles d-none d-md-none d-lg-block">
						<div class="in-header">
							<div class="header-icons-lft">
								<div class="header-actions">

									<div class="head-page-title">
										<h5>Agent Money Reconcilation</h5>
									</div>
								</div><!--.header-actions-->
							</div><!--.header-icons-lft-->
						 	<div class="header-icons-rit">
								<div class="header-actions">
                                    <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->

								</div><!--.header-actions-->
							</div><!--.header-icons-rit-->
						</div> <!-- in-header -->
					</div> <!-- device-page-titles -->
					<div class="container">



						<div class="row mt-3">
							<div class="col-12 mb-0">
								<div class="datatable-box">
									<div class="table-responsive">
										<table id="dt-sample" class="table display table-hover">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col"> Agent Name
													</th>
													<th scope="col"> Mobile Number
													</th>
													<th scope="col"> Account Number
													</th>
													<th scope="col"> Credit Amount
													</th>
													<th scope="col"> Debit Amount
													</th>
													<th scope="col"> Balance
													</th>
													<th scope="col"> View Transaction Details
													</th>
												</tr>
											</thead>
											<tbody>
												<tr
													*ngFor="let item of moneyReconcilation | paginate: { itemsPerPage: 7, currentPage: p }; let i=index">
													<td>{{i}}</td>
													<td>{{item.customername}}</td>
													<td>{{item.mobileno}}</td>
													<td>{{item.fromaccountno}}</td>
													<td>{{item.credit}}</td>
													<td>{{item.debit}}</td>
													<td>{{item.credit - item.debit}}</td>
													<td>
														<div class="ux-selection">
															<img class="action-btn" src="assets/images/icons/eye.png" (click)="gotoTransDetail(item)">
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<pagination-controls (pageChange)="p = $event"></pagination-controls>
									<!--.table-responsivebox-->
								</div>
								<!--.datatable-box-->
							</div>

						</div>





                    </div><!--.container-->
				</div><!--.body-page-container--> <!-- added new -->
			</div><!--.right-col-container--> <!-- added new -->
		</div><!--.right-main-column--> <!-- added new -->
	</div><!--.main-->
	<!-- ===========footer section start========= -->
	<div class="sticky-actions-spacer"></div>
	<!-- ==============footer section end============ -->

	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/bootstrap.min.js"></script>
	<script src="js/common.js"></script>


</body>
