<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Customers Details</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <app-header></app-header>
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">

            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->
            <div class="main-content">
              <form [formGroup]="customerDetailsForm">
                <div *ngIf="priveledge" class="row">
                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Search Customer By</label>
                      <select formControlName="searchBy" (change)="
                            getSearchByCustomer(customerDetailsForm.value)
                          ">
                        <option value="">Select Customer By</option>
                        <!-- <option value="all">All Customers</option> -->
                        <!-- <option value="cifNo">CIF</option> -->
                        <option value="customerName">Customer Name</option>
                        <option value="mobileNo">Mobile Number</option>
                        <!-- <option value="date">Date Of Registration</option> -->
                      </select>
                      <p *ngIf="formErrors.searchBy">
                        {{ formErrors.searchBy }}
                      </p>
                    </div>
                  </div>

                  <div class="col-6" *ngIf="type == 'cifNo'">
                    <div class="ux-input input-error">
                      <label>CIF No</label>
                      <input limit-to="11" type="tel" numbersOnly formControlName="cifNo" placeholder="Enter CIF No" />
                      <p *ngIf="formErrors.cifNo">{{ formErrors.cifNo }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6" *ngIf="type == 'customerName'">
                    <div class="ux-input input-error">
                      <label>Customer Name</label>
                      <input type="text" alphabetsOnly formControlName="customerName" limit-to="40"
                        placeholder="Enter Customer Name" />
                      <p *ngIf="formErrors.customerName">
                        {{ formErrors.customerName }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <div class="col-6" *ngIf="type == 'mobileNo'">
                    <div class="ux-input input-error">
                      <label>Mobile Number</label>
                      <input limit-to="10" type="tel" numbersOnly formControlName="mobileNo"
                        placeholder="Enter Number" />
                      <p *ngIf="formErrors.mobileNo">
                        {{ formErrors.mobileNo }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                </div>
                <div *ngIf="priveledge" class="row">
                  <div class="col-6" *ngIf="type == 'date'">
                    <div class="ux-input date input-error">
                      <label>From Date</label>
                      <input type="date" class="pr-0" [max]="todayDate" formControlName="fromDate"
                        placeholder="Enter From date" (change)="onDateChange(customerDetailsForm.value)" />
                      <p *ngIf="formErrors.fromDate">
                        {{ formErrors.fromDate }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-6-->
                  <div class="col-6" *ngIf="type == 'date'">
                    <div class="ux-input date input-error">
                      <label>To Date</label>
                      <input type="date" class="pr-0" [max]="todayDate" formControlName="toDate"
                        placeholder="Enter To date" (change)="onDateChange(customerDetailsForm.value)" />
                      <p *ngIf="formErrors.toDate">{{ formErrors.toDate }}</p>
                      <p *ngIf="toDateValid">{{ isToDateValidError }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-6-->
                </div>
              </form>
              <div *ngIf="priveledge" class="row mb-5 mt-3">
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="getCustomerDetails()">
                    Search
                  </button>
                </div>
                <!--.col-xs-12-->
              </div>

              <div class="row mt-3" *ngIf="customerDetails.length > 0">
                <div class="col-12 mb-0">
                  <div class="datatable-box">
                    <div class="table-responsive">
                      <table id="dt-sample" class="table display table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Sr. No.</th>
                            <th scope="col">Customer Id</th>
                            <th scope="col">CIF</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Email Id</th>
                            <th scope="col">Mobile Number</th>
                            <th scope="col">DOB</th>
                            <th scope="col">Channel Name</th>

                            <th scope="col">Status</th>
                            <th scope="col">Is Mobile No Blocked</th>
                            <th scope="col">Created Date</th>

                            <th scope="col">Kyc Document</th>
                            <th scope="col" *ngIf="priviledgeDataArr.updateChecked">
                              Action
                            </th>
                            <th scope="col">Reset Password</th>
                            <th scope="col">Device Mapped</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="
                                let item of customerDetails;
                                let i = index
                              ">
                            <td>{{ i + 1 }}</td>
                            <td>
                              {{
                                  item.id == null || item.id == ""
                                    ? "-"
                                    : item.id
                                }}
                            </td>
                            <td>
                              {{
                                  item.cif == null || item.cif == ""
                                    ? "-"
                                    : item.cif
                                }}
                            </td>
                            <td>
                              {{
                                  item.customername == null ||
                                  item.customername == ""
                                    ? "-"
                                    : item.customername
                                }}
                            </td>
                            <td>
                              {{
                                  item.username == null || item.username == ""
                                    ? "-"
                                    : item.username
                                }}
                            </td>
                            <td>
                              {{
                                  item.email == null || item.email == ""
                                    ? "-"
                                    : item.email
                                }}
                            </td>
                            <td>
                              {{
                                  item.mobile == null || item.mobile == ""
                                    ? "-"
                                    : item.mobile
                                }}
                            </td>
                            <td>
                              {{
                                  item.dob == null ||
                                  item.dob == "null" ||
                                  item.dob == ""
                                    ? "-"
                                    : item.dob
                                }}
                            </td>
                            <td>
                              {{
                                  item.appname == null || item.appname == ""
                                    ? "-"
                                    : item.appname
                                }}
                            </td>

                            <td>
                              {{
                                  item.statusname == null ||
                                  item.statusname == ""
                                    ? "-"
                                    : item.statusname
                                }}
                            </td>
                            <td>{{ item.ibRegStatusName == "" ||  item.ibRegStatusName == null ? '-' : item.ibRegStatusName}}</td>
                            <td>{{ item.createdon | date: "yyyy/MM/dd" }}</td>

                            <td>
                              <div class="ux-selection">
                                <img class="action-btn" src="assets/images/icons/eye.png" (click)="getKycImage(item)" />
                              </div>
                            </td>
                            <td *ngIf="priviledgeDataArr.updateChecked">
                              <div class="ux-selection">
                                <img class="action-btn" src="assets/images/icons/edit.png"
                                  (click)="gotoAgentDetails(item)" />
                              </div>
                            </td>
                            <td>
                              <div class="ux-selection">
                                <img *ngIf="
                                      this.commonDataService.roleType ==
                                      this.commonDataService.makerRole
                                    " class="action-btn" src="assets/images/icons/resetPass.png" (click)="
                                      openModelToResetPwdWithRemark(
                                        'resetPassWithRemark',
                                        item
                                      )
                                    " />
                                <img *ngIf="
                                      this.commonDataService.roleType !=
                                      this.commonDataService.makerRole
                                    " class="action-btn" src="assets/images/icons/resetPass.png"
                                  (click)="openModelToResetPwd(item)" />
                              </div>
                            </td>
                            <td>
                                <div class="ux-selection">
                                    <img class="action-btn" src="assets/images/icons/eye.png" (click)="getDeviceData(item)" />
                                </div>
                          </tr>
                        </tbody>
                      </table>
                      <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                    </div>
                    <!--.table-responsivebox-->
                  </div>
                  <!--.datatable-box-->
                  <div class="dt-extras mt-4" *ngIf="customerDetails.length > 0">
                    <div class="dt-exports">
                      <em>Export to :<span class="chevron"></span></em>
                      <button class="linkbutton exp-excel" (click)="commonMethod.downLoadFile('excel')">
                        Excel <b>(.xlsx)</b>
                      </button>
                      <button class="linkbutton exp-pdf" (click)="commonMethod.downLoadFile('pdf')">
                        Pdf <b>(.pdf)</b>
                      </button>

                      <button class="linkbutton exp-csv" (click)="commonMethod.downLoadFile('csv')">
                        csv <b>(.csv)</b>
                      </button>
                    </div>
                    <!--.dt-exports-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm1">
    <div class="tinymodal-overlay"></div>
    <!--.tinymodal-overlay-->
    <div class="tinymodal">
      <div *ngIf="selModel == 'kycImage'" class="tinymodal-content">
        <div class="row">
          <div class="col-12 tinymodal-header">
            <div>
              <button type="button" class="close" (click)="closeActionModel1()">
                <span> <img src="assets/images/icons/cross.png" /></span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-0 mt-2">
            <img [src]="'data:image/jpg;base64,' + displayImage" />
          </div>
        </div>
      </div>
      <!--.tinymodal-content-->
    </div>
  </div>

  <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm1">
    <div class="tinymodal-overlay"></div>
    <!--.tinymodal-overlay-->
    <div class="tinymodal">
      <div *ngIf="selModel == 'passwordReset'" class="tinymodal-content">
        <div class="row">
          <div class="col-12 px-0 mt-2">
            <h5>Do you want to reset password ?</h5>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-6">
            <button class="ux-button" (click)="closeActionModel1()">
              Cancel
            </button>
          </div>
          <div class="col-6">
            <button class="ux-button primary" (click)="resetPassword()">
              OK
            </button>
          </div>
          <!--.col-xs-12-->
        </div>
      </div>
      <!--.tinymodal-content-->
    </div>
  </div>

  <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm1">
    <div class="tinymodal-overlay"></div>
    <!--.tinymodal-overlay-->
    <div class="tinymodal">
      <div *ngIf="selModel === 'resetPassWithRemark'" class="tinymodal-content">
        <form [formGroup]="remarkDeleteForm">
          <div class="row">
            <div class="col-12 px-0 mt-2">
              <div class="ux-input input-error">
                <textarea formControlName="remarkDelete" placeholder="Enter Remark"></textarea>
                <p *ngIf="formErrors.remarkDelete">
                  {{ formErrors.remarkDelete }}
                </p>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6">
              <button class="ux-button" (click)="closeActionModel1()">
                Cancel
              </button>
            </div>
            <div class="col-6">
              <button class="ux-button primary" (click)="resetPasswordWithRemark(remarkDeleteForm.value)">
                OK
              </button>
            </div>
            <!--.col-xs-12-->
          </div>
        </form>
      </div>
      <!--.tinymodal-content-->
    </div>
    <!--.tinymodal-->
  </div>

  <div class="tiny-modal tm-rounded tiny-modal1" id="tm-favouriteconfirm">
      <div class="tinymodal-overlay"></div>
      <!--.tinymodal-overlay-->
      <div class="tinymodal tinymodal-1" >
        <div *ngIf="selModel == 'deviceMaster'" class="tinymodal-content">
          <div class="row">
            <div class="col-12 tinymodal-header">
              <div>
                <button type="button" class="close" (click)="closeActionModel()">
                  <span> <img src="assets/images/icons/cross.png" /></span>
                </button>
              </div>
            </div>
          </div>
          <!--Datatable in popup-->
          <div class="row mt-3">
            <div class="col-12 mb-0">
              <div class="datatable-box">
                <div class="table-responsive">
                  <table id="dt-sample5" class="table display table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Sr. No.</th>
                        <th scope="col">Device UDID</th>
                        <th scope="col">IMSI</th>
                        <th scope="col">IMEI</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">MAC Address</th>
                        <th scope="col">OS</th>
                        <th scope="col">Biometric Support</th>
                        <th scope="col">OS Version</th>
                        <th scope="col">Created On</th>
                        <th scope="col" class="notexport">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                            let item of deviceMaster;
                            let i = index
                          ">
                        <td>{{ i + 1 }}</td>
                        <td>
                          {{
                              item.deviceuuid == null || item.deviceuuid == ""
                                ? "-"
                                : item.deviceuuid
                            }}
                        </td>
                        <td>
                            {{
                                item.imsi == null || item.imsi == ""
                                  ? "-"
                                  : item.imsi
                              }}
                          </td>
                          <td>
                              {{
                                  item.imei == null || item.imei == ""
                                    ? "-"
                                    : item.imei
                                }}
                            </td>
                            <td>
                                {{
                                    item.mobileNumber == null || item.mobileNumber == ""
                                      ? "-"
                                      : item.mobileNumber
                                  }}
                              </td>
                              <td>
                                  {{
                                      item.macAddress == null || item.macAddress == ""
                                        ? "-"
                                        : item.macAddress
                                    }}
                                </td>
                                  <td>
                                {{
                                    item.os == null || item.os == ""
                                      ? "-"
                                      : item.os
                                  }}
                              </td>
                                <td>
                                {{
                                    item.biometricSupport == null || item.biometricSupport == ""
                                      ? "-"
                                      : item.biometricSupport
                                  }}
                               </td>
                                 <td>
                                {{
                                    item.osVersion == null || item.osVersion == ""
                                      ? "-"
                                      : item.osVersion
                                  }}
                              </td>
                              <td>
                                  {{
                                      item.createdOn == null || item.createdOn == ""
                                        ? "-"
                                        : (item.createdOn | date: "yyyy-MM-dd")
                                    }}
                                </td>
                            <td>
                              <div *ngIf="this.commonDataService.roleType == this.commonDataService.makerRole">
                                <button class="ux-button green" *ngIf="item.statusId==0" (click)="activate('withremark',item)">
                                    Activate
                                  </button>
                                <button class="ux-button red" *ngIf="item.statusId==3" (click)="deactivate('withremark',item)">
                                    Deactivate
                                </button>
                              </div>
                              <div *ngIf="this.commonDataService.roleType != this.commonDataService.makerRole">
                                  <button class="ux-button green" *ngIf="item.statusId==0" (click)="activate('withoutremark',item)">
                                      Activate
                                    </button>
                                  <button class="ux-button red" *ngIf="item.statusId==3" (click)="deactivate('withoutremark',item)">
                                      Deactivate
                                  </button>
                                </div>
                            </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--.tinymodal-content-->
      </div>
      <!--.tinymodal-->
    </div>

    <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm1">
        <div class="tinymodal-overlay"></div>
        <!--.tinymodal-overlay-->
        <div class="tinymodal">
          <div *ngIf="selModel === 'devicewithremark'" class="tinymodal-content">
            <form [formGroup]="remarkDeleteForm">
              <div class="row">
                <div class="col-12 px-0 mt-2">
                  <div class="ux-input input-error">
                    <textarea formControlName="remarkDelete" placeholder="Enter Remark"></textarea>
                    <p *ngIf="formErrors.remarkDelete">
                      {{ formErrors.remarkDelete }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-6">
                  <button class="ux-button" (click)="closeActionModelDevice()">
                    Cancel
                  </button>
                </div>
                <div class="col-6">
                  <button class="ux-button primary" (click)="updateDeviceWithRemark(remarkDeleteForm.value)">
                    OK
                  </button>
                </div>
                <!--.col-xs-12-->
              </div>
            </form>
          </div>
          <!--.tinymodal-content-->
        </div>
        <!--.tinymodal-->
      </div>
  <!--.footer-container-->
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>
