<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Access Menu Right Details</title>
</head>

<body>
  <div class="main">
    <app-navmenu *ngIf="reload"></app-navmenu>
    <!--.global-nav-->
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->
            <div class="main-content">
              <form [formGroup]="menuForm">
                <div *ngIf="priviledgeDataArr.viewChecked" class="row">
                  <div class="col-6" *ngIf="allRoles.length > 0">
                    <div class="ux-input input-error">
                      <label>Roles</label>
                      <select formControlName="selectedRole" (change)="selectedValue($event.target.value, 'roles')">
                        <option value="">Select Role</option>
                        <option *ngFor="let option of allRoles; index as i" [value]="option.roleType">
                          {{ option.name | titlecase }}
                        </option>
                      </select>
                      <p *ngIf="formErrors.selectedRole">
                        {{ formErrors.selectedRole }}
                      </p>

                    </div>
                  </div>
                </div>
              </form>
              <!--.row-->


              <div class="row mt-3" *ngIf="showTable">
                <div class="col-12 mb-0">
                  <div class="datatable-box">
                    <div class="table-responsive">
                      <table id="dt-sample" class="table display table-hover">
                        <thead>
                          <tr>
                            <th scope="col" id="col1">Menu Name</th>
                            <th scope="col" id="col2">Access Right</th>
                            <th *ngIf="priviledgeDataArr.updateChecked" scope="col" id="col3">
                              View Sub Menu
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let menu of menuRights; let i = index">
                            <td>{{ menu.menuName }}</td>
                            <td>
                              <div class="ux-selection">
                                <label>
                                  <!-- <div *ngIf="menu.isChecked==false">	<input type="checkbox" name="radioboxdemo" (ngModelChange)="showPopup(menu,i)"  [(ngModel)]="menu.isChecked" [value]="menu.value" (click)="showMsg(menu)" [ngStyle]="menu.menuName == 'Access Rights' && menu.menuid == 300 && {'opacity': 0.5}"></div>
                                  <div *ngIf="menu.isChecked==true">	<input type="checkbox" name="radioboxdemo" (ngModelChange)="showPopup(menu,i)"  [(ngModel)]="menu.isChecked" checked [value]="menu.value" (click)="showMsg(menu)" [ngStyle]="menu.menuName == 'Access Rights' && menu.menuid == 300 && {'opacity': 0.5}"></div> -->
                                  <input type="checkbox" name="radioboxdemo" (ngModelChange)="showPopup(menu, i)"
                                    [(ngModel)]="menu.isChecked" [value]="menu.value" (click)="showMsg(menu)" [ngStyle]="
                                        menu.menuName == 'Access Rights' &&
                                        selRole == this.commonData.roleTypeId &&
                                        { opacity: 0.5 }
                                      " />
                                </label>
                              </div>
                            </td>
                            <td *ngIf="priviledgeDataArr.updateChecked">
                              <div class="ux-selection">
                                <img class="action-btn" src="assets/images/icons/eye.png"
                                  (click)="gotoMenuDetails(menu)" />
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--.table-responsivebox-->
                  </div>

                </div>
              </div>

              <div class="row mt-5" *ngIf="showTable && priviledgeDataArr.updateChecked">
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="saveMenuDetails()">
                    Save
                  </button>
                </div>
                <!--.col-xs-12-->
              </div>
              <div class="row mt-5" *ngIf="showTable && !priviledgeDataArr.updateChecked">
                <div class="col-6 col-lg-2 offset-lg-10">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <!--.col-xs-12-->
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
    <div class="tinymodal-overlay"></div>
    <!--.tinymodal-overlay-->
    <div class="tinymodal">
      <div class="tinymodal-content">
        <div class="row">
          <div class="col-12 tinymodal-header">
            <div>

              <!--.tinymodal-info-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 px-0 mt-2">
            <h5>You Need To Map Submenu For This Menu</h5>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-6">
            <button class="ux-button" (click)="closeActionModel()">
              Cancel
            </button>
          </div>
          <div class="col-6">
            <button class="ux-button primary" (click)="goToSubmenuDetailsRoute()">
              OK
            </button>
          </div>
          <!--.col-xs-12-->
        </div>
      </div>
      <!--.tinymodal-content-->
    </div>
    <!--.tinymodal-->
  </div>
  <!--.footer-container-->
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>
