<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Forgot Password</title>

  <!-- <link href="css/lib/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <link href="css/mjbl.min.css" rel="stylesheet"> -->
</head>

<body class="login-container-body">
  <div class="prelogin-page">
    <div class="main">
      <div class="right-main-column minus-rt-col">
        <div class="right-col-container minus-nav">
            <!-- ======== header section start ========== -->
            <header class="global-header minus-nav">
                <div class="in-header">
                  <div class="header-icons-lft">
                    <div class="header-actions">
                      <button class="ux-button-header btn-notification-bell">
                        <img src="assets/images/svg/home1.svg" />
                        <em></em>
                      </button>
                    </div>
                    <!--.header-actions-->
                  </div>
                  <!--.header-icons-lft-->
                  <div class="brand-logo">
                    <img src="assets/images/logo/psb-bank.png" />
                  </div>
                  <div class="header-icons-rit">
                    <div class="header-actions">
                      <button
                        class="ux-button-header btn-notification-bell"
                      ></button>
                    </div>
                    <!--.header-actions-->
                  </div>
                  <!--.header-icons-rit-->
                </div>
                <!-- in-header -->
              </header>
              <!-- ======== header section end ========== -->
              <div class="vspacer40"></div>       

          <!-- ========== body section start ========= -->
          <div class="body-page-container login-container">

            <div class="container">


              <div class="row">
                <div class="col-sm-3 col-12"></div>
                <!--.col-sm-3 col-12-->
                <div class="col-sm-6 col-12">
                  <div class="login-content">
                    <div class="login-heading">
                      <div class="vspacer5"></div>
                      <h4>Admin Portal</h4>
                      
                    </div>
                    <form [formGroup]="forgotPasswordForm">
                      <label class="d-block">Forgot Password</label>
                      <div class="ux-input input-error">
                        <label>Username</label>
                        <input type="text" formControlName="username" limit-to="20" placeholder="Enter Username">
                        <p *ngIf="formErrors.username">{{ formErrors.username }}</p>
                      </div>
                      <!--.login-group-->
                      <div class="ux-input input-error">
                        <label>Email Id</label>
                        <input type="email" formControlName="emailId" limit-to="50" placeholder="Enter Email Id">
                        <p *ngIf="formErrors.emailId">{{ formErrors.emailId }}</p>
                        <p
                          *ngIf="forgotPasswordForm.get('emailId').touched && forgotPasswordForm.get('emailId').invalid && forgotPasswordForm.get('emailId').value != ''">
                          * The email address is invalid</p>
                      </div>
                    </form>
                    <!--.login-group-->
                    <div class="vspacer10"></div>
                    <button class="ux-button primary" (click)="goToLogin()">Submit</button>
                    <div class="vspacer10"></div>
                  </div>
                  <div class="vspacer10"></div>
                  <!--.login-container-->
                  <div class="text-center" routerLink="/login">
                    <a href="javascript:;">Back To Login</a>
                  </div>
                </div>
                <!--.col-sm-6 col-12-->
                <div class="col-sm-3 col-12"></div>
                <!--.col-sm-3 col-12-->
              </div>
              <!--.row-->
            </div>
            <!--.container-->
          </div> <!-- body-page-container -->
          <!-- ========== body-page-container end ========= -->
          <!-- footer-container -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column minus-rt-col-->
      <!-- added new -->
    </div>
    <!--.main-->
  </div>
  <!-- .prelogin-page -->
  <!-- added new -->

  <!-- <div class="top-head-spacer login-container">
    </div>  -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>

</body>
