<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Activity Log</title>
  </head>

  <body>
    <div class="main">
      <app-navmenu></app-navmenu>
      <!--.global-nav-->
      <div class="nav-overlay"></div>
      <!--.nav-overlay-->
      <!-- navigation menu container end -->

      <div class="right-main-column">
        <div class="right-col-container full-width">
          <app-header></app-header>
          <!-- ======== body page content start from here ======== -->
          <div class="body-page-container">
            <!-- <div class="vspacer10"></div> -->
            <!--.vspacer10-->
            <div class="device-page-titles d-none d-md-none d-lg-block">
              <!-- <div class="component-title">
                <h4>{{ commonServiceCall.pageName }}</h4>
              </div> -->
              <div class="in-header d-none">
                <div class="header-icons-rit">
                  <div class="header-actions">
                    <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->
                  </div>
                  <!--.header-actions-->
                </div>
                <!--.header-icons-rit-->
              </div>
              <!-- in-header -->
            </div>
            <!-- device-page-titles -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 p-0">
                  <div class="breadcrumb">
                    <ul class="lst-breadcrumb">
                      <li>
                        <h6>{{ commonServiceCall.pageName }}</h6>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--.row -->
              <div class="main-content">
                <!-- load form -->
                <form [formGroup]="dynamicResultsSummaryForm">
                  <div *ngIf="priviledgeDataArr.viewChecked" class="row md-5">
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Report Name</label>
                        <select
                          formControlName="report"
                          (change)="onReportChange($event)"
                        >
                          <option value="">Select Report Name</option>
                          <option
                            *ngFor="let report of reportMaster; index as i"
                            [value]="report.id"
                          >
                            {{ report.reportName | titlecase }}
                          </option>
                        </select>
                        <p *ngIf="formErrors.report">{{ formErrors.report }}</p>
                      </div>
                    </div>

                    <div class="col-6"></div>
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>From Date</label>
                        <input
                          class="pr-0"
                          type="date"
                          [max]="todayDate"
                          formControlName="fromDate"
                          placeholder="Enter From Date"
                          (change)="
                            onDateChange(dynamicResultsSummaryForm.value)
                          "
                        />
                        <p *ngIf="formErrors.fromDate">
                          {{ formErrors.fromDate }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <!--.col-6-->
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>To Date</label>
                        <input
                          class="pr-0"
                          type="date"
                          [max]="todayDate"
                          formControlName="toDate"
                          placeholder="Enter To Date"
                          (change)="
                            onDateChange(dynamicResultsSummaryForm.value)
                          "
                        />
                        <p *ngIf="formErrors.toDate">{{ formErrors.toDate }}</p>
                        <p *ngIf="toDateValid">{{ isToDateValidError }}</p>
                      </div>
                      <!--.ux-input-->
                    </div>
                  </div>
                </form>

                <div
                  class="row mb-5 mt-3"
                  *ngIf="priviledgeDataArr.viewChecked"
                >
                  <div class="col-6 col-lg-2 offset-lg-8">
                    <button class="ux-button" (click)="cancel()">Cancel</button>
                  </div>
                  <div class="col-6 col-lg-2">
                    <button
                      class="ux-button primary"
                      (click)="getSelectedReport()"
                    >
                      Search
                    </button>
                  </div>
                </div>
                <!--.row-->

                <!--Dynamic Datatable loading-->
                <div
                  class="row mt-3"
                  *ngIf="priviledgeDataArr.viewChecked && reportsArr.length > 0"
                >
                  <div class="col-12 mb-0">
                    <div class="datatable-box">
                      <div class="table-responsive">
                        <table id="dt-sample" class="table display table-hover">
                          <thead>
                            <tr>
                              <th
                                scope="col"
                                *ngFor="let item of coldynamic; let i = index"
                              >
                                {{ item }}
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let item of finalDataDynamic;
                                let i = index
                              "
                            >
                              <td
                                *ngFor="
                                  let itemdata of finalDataDynamic[i];
                                  let j = index
                                "
                              >
                                <p>{{ itemdata }}</p>
                                <!-- <img [src]="itemdata.data[j]" *ngIf="itemdata.imgactive" height="50px" weight="50px"> -->
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!--.table-responsivebox-->
                    </div>
                    <!--.datatable-box-->

                    <div class="dt-extras mt-4" *ngIf="reportsArr.length > 0">
                      <div class="dt-exports">
                        <em>Export to :<span class="chevron"></span></em>
                        <button
                          class="linkbutton exp-excel"
                          (click)="commonMethod.downLoadFile('excel')"
                        >
                          Excel <b>(.xlsx)</b>
                        </button>
                        <button
                          class="linkbutton exp-pdf"
                          (click)="commonMethod.downLoadFile('pdf')"
                        >
                          Pdf <b>(.pdf)</b>
                        </button>
                        <!-- <button class="linkbutton exp-word" (click)="wordDownload()">word <b>(.docx)</b></button> -->
                        <!-- <button class="linkbutton exp-xml">XML <b>(.xml)</b></button> -->
                        <button
                          class="linkbutton exp-csv"
                          (click)="commonMethod.downLoadFile('csv')"
                        >
                          csv <b>(.csv)</b>
                        </button>
                      </div>
                      <!--.dt-exports-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--.container-->
          </div>
          <!--.body-page-container-->
          <!-- added new -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column-->
      <!-- added new -->
    </div>
    <!--.main-->
    <!-- ===========footer section start========= -->
    <div class="sticky-actions-spacer"></div>
    <!-- ==============footer section end============ -->
    <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
      <div class="tinymodal-overlay"></div>
      <!--.tinymodal-overlay-->
      <div class="tinymodal">
        <div class="tinymodal-content">
          <div class="row">
            <div class="col-12 tinymodal-header">
              <div>
                <button
                  type="button"
                  class="close"
                  (click)="closeActionModel()"
                >
                  <span>
                    <img class="w-75" src="assets/images/icons/cross.png"
                  /></span>
                </button>
                <!--.tinymodal-info-->
              </div>
            </div>
            <div class="col-12 mt-2">
              <p>{{ message }}</p>
            </div>
          </div>
        </div>
        <!--.tinymodal-content-->
      </div>
      <!--.tinymodal-->
    </div>

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>
