<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Activity Notification Setting</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <!--.global-nav-->
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <!-- ======== header section start ========== -->
        <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->
            <div *ngIf="priviledgeDataArr.viewChecked" class="main-content">

              <div class="row mt-3">
                <div class="col-12 mb-0">
                  <div class="datatable-box">
                    <div class="table-responsive">
                      <table id="dt-sample" class="table display table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Activity Name</th>
                            <th scope="col">
                              Email
                              <div class="ux-selection" (click)="select('email')">
                                <label>
                                  <input id="emailCheckBox" type="checkbox" name="radioboxdemo" />
                                </label>
                              </div>
                            </th>
                            <th scope="col">
                              SMS
                              <div class="ux-selection" (click)="select('sms')">
                                <label>
                                  <input id="smsCheckBox" type="checkbox" name="radioboxdemo" />
                                </label>
                              </div>
                            </th>
                            <th scope="col">
                              Push
                              <div class="ux-selection" (click)="select('push')">
                                <label>
                                  <input id="pushCheckBox" type="checkbox" name="radioboxdemo" />
                                </label>
                              </div>
                            </th>
                            <!-- <th scope="col">Action</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let activity of activityMaster; index as i">
                            <td>{{ activity.displayname | titlecase }}</td>
                            <td>
                              <div class="ux-selection">
                                <label>
                                  <input type="checkbox" name="radioboxdemo" [(ngModel)]="activity.isEmailChecked"
                                    [ngModelOptions]="{ standalone: true }" />
                                </label>
                              </div>
                            </td>
                            <td>
                              <div class="ux-selection">
                                <label>
                                  <input type="checkbox" name="radioboxdemo" [(ngModel)]="activity.isSmsChecked"
                                    [ngModelOptions]="{ standalone: true }" />
                                </label>
                              </div>
                            </td>
                            <td>
                              <div class="ux-selection">
                                <label>
                                  <input type="checkbox" name="radioboxdemo" [(ngModel)]="activity.isPushChecked"
                                    [ngModelOptions]="{ standalone: true }" />
                                </label>
                              </div>
                            </td>
                            <!-- <td>
                              {{activity.email == 'Y' ? 'Active': 'Inactive'}}
                            </td>
                            <td>
                              {{activity.sms == 'Y' ? 'Active': 'Inactive'}}
                            </td>
                            <td>
                              {{activity.push == 'Y' ? 'Active': 'Inactive'}}
                            </td>
                            <td>
                              <img class="action-btn" src="assets/images/icons/edit.png" (click)="
                                    editActivityNotificationSettings(activity)
                                  " />
                            </td> -->
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <!--.table-responsivebox-->
                  </div>
                  <!--.datatable-box-->
                </div>
              </div>

              <div *ngIf="priviledgeDataArr.updateChecked" class="row mt-5">
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="saveActivityDetails()">
                    Save
                  </button>
                </div>
                <!--.col-xs-12-->
              </div>

              <div *ngIf="!priviledgeDataArr.updateChecked" class="row mt-5">
                <div class="col-6 col-lg-2 offset-lg-10">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->
  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>

  <!-- ==============footer section end============ -->
</body>

</html>
