<nav class="global-nav">
  <div class="in-nav">
    <div class="user-profile">
      <div class="in-profile">
        <a href="javascript:;">
          <span class="round-circle"
            ><img src="assets/images/icons/a2.png"
          /></span>
          <span>Thomas Joseph</span>
          <small>+856 21 123456</small>
        </a>
      </div>
      <!--.in-profile-->
    </div>
    <!--.user-profile-->
    <div class="nav-content">
      <div class="nav-list">
        <ul class="lst-navigation">
          <li routerLink="/accessMenuRight">
            <a href="javascript:;" class="item-selected">
              <em>Menu Rights</em>
            </a>
          </li>
          <li routerLink="/accessCustomizeMenu">
            <a href="javascript:;">
              <em>Customize menu</em>
            </a>
          </li>
          <li routerLink="/accessSubMenuRight">
            <a href="javascript:;">
              <em>Submenu Rights</em>
            </a>
          </li>

          <li routerLink="/analyticsTransactionReport">
            <a href="javascript:;">
              <em>Transaction Report</em>
            </a>
          </li>
          <li routerLink="/analyticsServiceReqReport">
            <a href="javascript:;">
              <em>Service request Report</em>
            </a>
          </li>
          <li routerLink="/analyticsBOTSurvey">
            <a href="javascript:;">
              <em>BOT Survey</em>
            </a>
          </li>
          <li routerLink="/MessagingReport">
            <a href="javascript:;">
              <em>Messaging Report</em>
            </a>
          </li>

          <li routerLink="/masterConfig">
            <a href="javascript:;">
              <em>Config master</em>
            </a>
          </li>
          <li routerLink="/masterLanguage">
            <a href="javascript:;">
              <em>Language json</em>
            </a>
          </li>
          <li routerLink="/masterLocation">
            <a href="javascript:;">
              <em>Locations</em>
            </a>
          </li>
          <li routerLink="/masterDonation">
            <a href="javascript:;">
              <em>Donation</em>
            </a>
          </li>

          <li routerLink="/adminstration">
            <a href="javascript:;">
              <em>Administration</em>
            </a>
          </li>
          <li routerLink="/adminWalletPoints">
            <a href="javascript:;">
              <em>Wallet Points</em>
            </a>
          </li>
          <li routerLink="/adminNotification">
            <a href="javascript:;">
              <em>Notifications</em>
            </a>
          </li>
          <li routerLink="/adminOmniChannelReq">
            <a href="javascript:;">
              <em>Omni Channel Request</em>
            </a>
          </li>
          <li routerLink="/adminOmniChannelReport">
            <a href="javascript:;">
              <em>Omni Channel Report</em>
            </a>
          </li>
          <li routerLink="/adminChargesComminsion">
            <a href="javascript:;">
              <em>Charges/Commission</em>
            </a>
          </li>

          <li routerLink="/auditActivityLog">
            <a href="javascript:;">
              <em>Activity Log</em>
            </a>
          </li>
          <li routerLink="/auditTransaction">
            <a href="javascript:;">
              <em>Transactions</em>
            </a>
          </li>
          <li routerLink="/agentTransaction">
            <a href="javascript:;">
              <em>agent Transactions</em>
            </a>
          </li>
          <li routerLink="/agentCreateAcc">
            <a href="javascript:;">
              <em>agent Create agent account</em>
            </a>
          </li>
          <li routerLink="/agentPendingPayment">
            <a href="javascript:;">
              <em>agent Pending payment</em>
            </a>
          </li>
          <li routerLink="/agentWiseBalance">
            <a href="javascript:;">
              <em>agent wise balance</em>
            </a>
          </li>
          <li routerLink="/agentMoneyReconcil">
            <a href="javascript:;">
              <em>agent money reconcilation</em>
            </a>
          </li>
          <li routerLink="/customerOffer">
            <a href="javascript:;">
              <em>Offer</em>
            </a>
          </li>
          <li routerLink="/customerAgent">
            <a href="javascript:;">
              <em>Customer/Agent</em>
            </a>
          </li>
          <li routerLink="/customerFrs">
            <a href="javascript:;">
              <em>FRS</em>
            </a>
          </li>
          <li routerLink="/customerDeviceMaster">
            <a href="javascript:;">
              <em>Device Master</em>
            </a>
          </li>
          <li routerLink="/customerWiseBalance">
            <a href="javascript:;">
              <em>Customer wise balance</em>
            </a>
          </li>
          <li routerLink="/regWalletUpgrade">
            <a href="javascript:;">
              <em>Wallet upgrade</em>
            </a>
          </li>
          <li routerLink="/regBranchReg">
            <a href="javascript:;">
              <em>Branch registration</em>
            </a>
          </li>

          <li>
            <div class="log-out">
              <a href="javascript:;" (click)="logout()">
                <img src="assets/images/icons/logout.png" />
                <em>Logout</em>
              </a>
              <span class="version">Version 2.0</span>
            </div>
            <!--.log-out-->
          </li>
        </ul>
        <!--.lst-navigation-->
      </div>
      <!--.nav-list-->
    </div>
    <!--.nav-content-->
    <div class="nav-footer">
      <h1>Footer</h1>
    </div>
    <!--.nav-footer-->
  </div>
  <!--.in-nav-->
  <a href="javascript:;" class="btn-closenav">
    <img src="assets/images/icons/cross-w.png" />
  </a>
</nav>
<!--.global-nav-->
<div class="nav-overlay"></div>
<!--.nav-overlay-->
<!-- navigation menu container end -->
