<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Add Insurance Product</title>
</head>

<body>
  <div class="main">
    <app-navmenu></app-navmenu>
    <div class="nav-overlay"></div>
    <!--.nav-overlay-->
    <!-- navigation menu container end -->

    <div class="right-main-column">
      <div class="right-col-container full-width">
        <!-- ======== header section start ========== -->
        <app-header></app-header>
        <!-- ======== header section end ========== -->
        <!-- ======== body page content start from here ======== -->
        <div class="body-page-container">
          <!-- <div class="vspacer10"></div> -->
          <!--.vspacer10-->
          <div class="device-page-titles d-none d-md-none d-lg-block">
            <div class="in-header d-none">
              <div class="header-icons-rit">
                <div class="header-actions">
                </div>
                <!--.header-actions-->
              </div>
              <!--.header-icons-rit-->
            </div>
            <!-- in-header -->
          </div>
          <!-- device-page-titles -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 p-0">
                <div class="breadcrumb">
                  <ul class="lst-breadcrumb">
                    <li>
                      <h6>{{ commonServiceCall.pageName }}</h6>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--.row -->
            <div class="main-content">
              <!-- load form -->
              <form [formGroup]="insuranceProductAddForm">
                <div class="row">

                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Category</label>
                      <select formControlName="category" (change)="onCategoryChange($event)">
                        <option value="">Select Category</option>
                        <option *ngFor="let item of categoriesArr; index as i" [value]="item.id">
                          {{ item.categoryName | titlecase }}
                        </option>
                      </select>
                      <p *ngIf="formErrors.category">
                        {{ formErrors.category }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>

                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Company</label>
                      <select formControlName="company">
                        <option value="">Select Company</option>
                        <option *ngFor="let item of companyArr; index as i" [value]="item.id">
                          {{ item.companyName | titlecase }}
                        </option>
                      </select>
                      <p *ngIf="formErrors.company">
                        {{ formErrors.company }}
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>

                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Product Name</label>
                      <input type="text" formControlName="productName" limit-to="40" placeholder="Enter Product Name" />
                      <p *ngIf="formErrors.productName">{{ formErrors.productName }}</p>
                      <!-- <p *ngIf="
                            insuranceProductAddForm.get('productName').touched &&
                            insuranceProductAddForm.get('productName').value != '' &&
                            insuranceProductAddForm.get('productName').invalid
                      ">
                      * Invalid Product Name
                      </p> -->
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->

                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Product Description</label>
                      <textarea type="text" rows="1" formControlName="productDesctiption" placeholder="Enter Product Description" limit-to="200">
                      </textarea>
                      <p *ngIf="formErrors.productDesctiption">{{ formErrors.productDesctiption }}</p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->

                  <div class="col-6">
                    <div class="ux-input input-error">
                      <label>Product Url</label>
                      <input type="text" formControlName="productUrl" placeholder="Enter Product Url"/>
                      <p *ngIf="formErrors.productUrl">{{ formErrors.productUrl }}</p>
                      <p *ngIf="
                            insuranceProductAddForm.get('productUrl').touched &&
                            insuranceProductAddForm.get('productUrl').invalid &&
                            insuranceProductAddForm.get('productUrl').value != ''
                          ">
                        * Invalid Product Url
                      </p>
                    </div>
                    <!--.ux-input-->
                  </div>
                  <!--.col-12-->

                  <div class="col-12 col-md-6 col-lg-6">
                    <div class="row">
                      <div class="col-12">
                        <div class="ux-input">
                          <div class="file-input input-error">
                            <input type="file" style="width: 100%; height: 100%; z-index: 100" name="smallImage"
                              (change)="addImage($event, 'big')" />
                            <label for="file-sample">
                              <h4>Upload Product Image</h4>
                              <p>
                                Note: Please upload 380px * 180px dimensions image
                              </p>
                              <!-- <p>Upload File To See Records</p> -->
                            </label>
                          </div>
                        </div>
                        <!--.ux-input-->
                        <div class="ux-input input-error">
                          <p *ngIf="isBigImgError">
                            * Please upload profile image
                          </p>
                          <p *ngIf="isValidBigFileFormat">
                            * Please upload png or jpeg file
                          </p>
                          <p *ngIf="isValidBigSizeFileFormat">
                            * Please upload 380px * 180px dimensions image
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12" *ngIf="bigImage != '' && bigImage != null && bigImage != undefined">
                      <div class="img-uploaded">
                        <img src="{{ bigImage }}" />
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <!--.row-->
              <div class="row mt-3">
                <div class="col-6 col-lg-2 offset-lg-8">
                  <button class="ux-button" (click)="cancel()">Cancel</button>
                </div>
                <div *ngIf="this.commonData.roleType == this.commonData.makerRole" class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="openActionModel('remarkField', insuranceProductAddForm.value)">
                    Save
                  </button>
                </div>
                <div *ngIf="this.commonData.roleType != this.commonData.makerRole" class="col-6 col-lg-2">
                  <button class="ux-button primary" (click)="add()">
                    Save
                  </button>
                </div>
                <!--.col-xs-12-->
              </div>
            </div>
          </div>
          <!--.container-->
        </div>
        <!--.body-page-container-->
        <!-- added new -->
      </div>
      <!--.right-col-container-->
      <!-- added new -->
    </div>
    <!--.right-main-column-->
    <!-- added new -->
  </div>
  <!--.main-->

  <!-- ===========footer section start========= -->
  <div class="sticky-actions-spacer"></div>
  <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
    <div class="tinymodal-overlay"></div>
    <!--.tinymodal-overlay-->
    <div class="tinymodal">
      <div *ngIf="selModel === 'remarkField'" class="tinymodal-content">
        <form [formGroup]="remarkForm">
          <div class="row">
            <div class="col-12 px-0 mt-2">
              <div class="ux-input input-error">
                <textarea formControlName="remark" placeholder="Enter Remark"></textarea>
                <p *ngIf="formErrors.remark">{{ formErrors.remark }}</p>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6">
              <button class="ux-button" (click)="closeActionModel()">
                Cancel
              </button>
            </div>
            <div class="col-6">
              <button class="ux-button primary" (click)="addProductWithRemark(remarkForm.value)">
                OK
              </button>
            </div>
            <!--.col-xs-12-->
          </div>
        </form>
      </div>
      <!--.tinymodal-content-->
    </div>
    <!--.tinymodal-->
  </div>
  <!-- ==============footer section end============ -->

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/common.js"></script>
</body>

</html>
