<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Masking Rules</title>
  </head>

  <body>
    <div class="main">
      <app-navmenu></app-navmenu>
      <!--.global-nav-->
      <div class="nav-overlay"></div>
      <!--.nav-overlay-->
      <!-- navigation menu container end -->

      <div class="right-main-column">
        <div class="right-col-container full-width">
          <app-header></app-header>
          <!-- ======== body page content start from here ======== -->
          <div class="body-page-container">
            <!-- <div class="vspacer10"></div> -->
            <!--.vspacer10-->
            <div class="device-page-titles d-none d-md-none d-lg-block">
              <!-- <div class="component-title">
                <h4>{{ commonServiceCall.pageName }}</h4>
              </div> -->
              <div class="in-header d-none">
                <div class="header-icons-rit">
                  <div class="header-actions">
                    <!-- <button class="ux-button-header"><img src="assets/images/icons/filter.png"></button> -->
                    <!-- <button class="ux-button primary" (click)="showHideForm()">+ Add</button> -->
                  </div>
                  <!--.header-actions-->
                </div>
                <!--.header-icons-rit-->
              </div>
              <!-- in-header -->
            </div>
            <!-- device-page-titles -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 p-0">
                  <div class="breadcrumb">
                    <ul class="lst-breadcrumb">
                      <li>
                        <h6>{{ commonServiceCall.pageName }}</h6>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--.row -->

              <div class="main-content">
                <form [formGroup]="masterLimitsForm">
                  <div class="row">
                    <div class="col-12 col-md-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Limit Name</label>
                        <input
                          type="text"
                          limit-to="20"
                          formControlName="limitName"
                          placeholder="Enter Limit Name"
                          alphabetsOnly
                        />
                        <p *ngIf="formErrors.limitName">
                          {{ formErrors.limitName }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <!--.col-12-->
                    <div class="col-12 col-md-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Frquency</label>
                        <select formControlName="frequency">
                          <option value="" selected>Select Frequency</option>
                          <option value="Daily">Daily</option>
                          <option value="Monthly">Monthly</option>
                          <option value="Weekly">Weekly</option>
                          <option value="Quarterly">Quarterly</option>
                          <option value="Half Yearly">Half Yearly</option>
                          <option value="Yearly">Yearly</option>
                        </select>
                        <p *ngIf="formErrors.frequency">
                          {{ formErrors.frequency }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <!--.col-12-->
                    <!--.col-12-->
                    <div class="col-12 col-md-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Minimum Value</label>
                        <input
                          type="text"
                          limit-to="10"
                          numbersOnly
                          formControlName="minval"
                          placeholder="Enter Minimum Value"
                        />
                        <p *ngIf="formErrors.minval">
                          {{ formErrors.minval }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <!--.col-12-->
                    <!--.col-12-->
                    <div class="col-12 col-md-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Maximum Value</label>
                        <input
                          type="text"
                          numbersOnly
                          limit-to="10"
                          formControlName="maxval"
                          placeholder="Enter Maximum Value"
                        />
                        <p *ngIf="formErrors.maxval">
                          {{ formErrors.maxval }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                    <!--.col-12-->
                    <!--.col-12-->
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Channel Name</label>
                        <select formControlName="productType">
                          <option value="" selected>Select Channel Name</option>
                          <option
                            *ngFor="let product of this.productTypes; index as i"
                            [value]="product.id"
                          >
                            {{ product.shortName | titlecase }}
                          </option>
                        </select>
                        <p *ngIf="formErrors.productType">
                          {{ formErrors.productType }}
                        </p>
                      </div>
                    </div>
                    <!--.col-12-->
                    <!--.col-12-->
                    <div class="col-6">
                      <div class="ux-input input-error">
                        <label><span class="mandatory">* </span>Status</label>
                        <select formControlName="statusId">
                          <option value="" selected>Select Status</option>
                          <option
                            *ngFor="let status of filterStatus(); index as i"
                            [value]="status.id"
                          >
                            {{ status.shortName | titlecase }}
                          </option>
                        </select>
                        <p *ngIf="formErrors.statusId">
                          {{ formErrors.statusId }}
                        </p>
                      </div>
                      <!--.ux-input-->
                    </div>
                  </div>
                </form>
                <div class="row mt-5">
                  <!-- <div class="col-lg-8"></div> -->

                  <div class="col-6 col-lg-2 offset-lg-8">
                    <button class="ux-button" (click)="cancel()">Cancel</button>
                  </div>
                  <!--.col-xs-12-->

                  <div
                    *ngIf="
                      this.commonData.roleType == this.commonData.makerRole
                    "
                    class="col-6 col-lg-2"
                  >
                    <button
                      class="ux-button primary"
                      (click)="
                        openActionModel('remarkField', masterLimitsForm.value)
                      "
                    >
                      Save
                    </button>
                  </div>

                  <div
                    *ngIf="
                      this.commonData.roleType != this.commonData.makerRole
                    "
                    class="col-6 col-lg-2"
                  >
                    <button class="ux-button primary" (click)="submit()">
                      Save
                    </button>
                  </div>
                  <!--.col-xs-12-->
                </div>
              </div>
            </div>
            <!--.container-->
            <!--.container-->
          </div>
          <!--.body-page-container-->
          <!-- added new -->
        </div>
        <!--.right-col-container-->
        <!-- added new -->
      </div>
      <!--.right-main-column-->
      <!-- added new -->
    </div>
    <!--.main-->
    <!-- ===========footer section start========= -->
    <div class="sticky-actions-spacer"></div>
    <div class="tiny-modal tm-rounded" id="tm-favouriteconfirm">
      <div class="tinymodal-overlay"></div>
      <!--.tinymodal-overlay-->
      <div class="tinymodal">
        <div *ngIf="selModel === 'remarkField'" class="tinymodal-content">
          <form [formGroup]="remarkForm">
            <div class="row">
              <div class="col-12 px-0 mt-2">
                <div class="ux-input input-error">
                  <textarea
                    formControlName="remark"
                    placeholder="Enter Remark"
                  ></textarea>
                  <p *ngIf="formErrors.remark">{{ formErrors.remark }}</p>
                </div>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-6">
                <button class="ux-button" (click)="closeActionMoel()">
                  Cancel
                </button>
              </div>
              <div class="col-6">
                <button
                  class="ux-button primary"
                  (click)="addMasterLimitsWithRemark(remarkForm.value)"
                >
                  OK
                </button>
              </div>
              <!--.col-xs-12-->
            </div>
          </form>
        </div>
        <!--.tinymodal-content-->
      </div>
      <!--.tinymodal-->
    </div>
    <!-- ==============footer section end============ -->
  </body>
</html>
